---
layout: null

titulo: As marcas gráficas dos mariñeiros da Guarda

subtitulo: |
  Sábado 18 de outubro 
  A Guarda

programa:
  titulo: Programa
  info:
    - hora: 12:00h
      info: Palestra de Antón Ferreiro (Anabam)
    
    - hora: 14:30h
      info: Xantar 
    
    - hora: 16:00h
      info: Visita á Sta. Tegra con Antón Malde
    
    - hora: 19:00h
      info: Volta

horarios:
  titulo: Horario de autobuses
  info:
    - hora: 08:00h
      info: Saída da Coruña

    - hora: 08:50h
      info: Saída de Compostela

    - hora: 09:40h
      info: Saída de Pontevedra

    - hora: 10:20h
      info: Saída de Vigo

info: |
  A actividade é gratuíta para os socios da DAG. Para os non-socios ten un custo de 14€
  
  Colabora [ANANAM (Asociación Naturalista Baixo Miño)](http://www.anabam.org/)
  
medios:
  - titulo: Mariñeiros que deixaron marca
    url: 'http://praza.gal/cultura/8027/marineiros-que-deixaron-marca/'
    medio: Praza
  
social:
  - 'https://www.facebook.co/permalink.php?story_fbid=827163017327807&id=149460691764713'
  - 'https://www.facebook.co/permalink.php?story_fbid=827177487326360&id=149460691764713'
  - 'https://twitter.com/claramalde/status/523585017759670272'
  - 'https://twitter.com/marcosdopico/status/523870574200643584'
  - 'https://twitter.com/asociaciondag/status/524590455733092352'
  - 'https://twitter.com/asociaciondag/status/524596310968901632'
---

<!doctype html>

<html class="no-js" lang="gl">
    <head>
        <meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>{{ title }}</title>

				<meta name="viewport" content="width=device-width, initial-scale=1">
				<meta name="author" content="DAG - Asociación Galega de Deseñadores">

        <link rel="stylesheet" href="/visita-a-guarda/styles.css">
    </head>

    <body>
        <!-- HEADER -->
				<nav class="page-header wrapper" id="main-header">
						<a href="/" class="page-logo" title="<?= __('Asociación Galega de Deseñadores') ?>">
								<img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
						</a>

						<div class="share">
								<a class="share-twitter ico-twitter" href="<?= $share->twitter->shareUrl ?>" target="_blank">
								<?php $this->insert('common/ico-twitter'); ?> <span>Twitter</span>
							</a>
							<a class="share-facebook ico-facebook" href="<?= $share->facebook->shareUrl ?>" target="_blank">
								<?php $this->insert('common/ico-facebook'); ?> <span>Facebook</span>
							</a>
						</div>
				</nav>
				<!-- /HEADER -->

        <article class="project wrapper">
					<header>
						<h1>{{ titulo }}</h1>
						{{ subtitulo | md | safe }}
					</header>

					<h2>{{ programa.titulo }}</h2>
					<ul>
						{% for evento in programa.info %}
						<li>
							<time>{{ evento.hora }}</time>
							<div>
								{{ evento.info | md | safe }}
							</div>
						</li>
						{% endfor %}
					</ul>

					<h2>{{ horarios.titulo }}</h2>
					<ul>
						{% for evento in horarios.info %}
						<li>
							<time>{{ evento.hora }}</time>
							<div>
								{{ evento.info | md | safe }}
							</div>
						</li>
						{% endfor %}
					</ul>

					<div>
						{{ info | md | safe }}
					</div>
				</article>

				{% if medios %}
					<aside class="project-news-external wrapper">
						<ul>
							{% for link in medios %}
							<li>
									<h3>
										<a href="{{ link.url }}">
											{{ link.titulo }}
										</a>
									</h3>
									<small>{{ link.medio }}</small>
								</a>
							</li>
							{% endfor %}
						</ul>
					</aside>
				{% endif %}

        {% include "templates/scripts.njk" %}
    </body>
</html>
