.back {
  grid-column: content-start / center-start;
  font-size: var(--size-1);
  text-decoration: none;
  font-weight: var(--font-bold);
  padding-block: var(--space-2xs);
  margin-top: var(--space-xs);
  display: flex;
  align-items: center;
  column-gap: var(--space-xs);

  &:hover span {
    text-decoration: underline;
  }

  @media (width > 1200px) {
    justify-content: end;
    border-right: solid 1px;
    padding-right: var(--space-m);

    > span {
      max-width: 0;
      overflow: hidden;
      transition-property: max-width, opacity;
      transition-duration: var(--duration-medium);
      transition-timing-function: ease-in-out;
      opacity: 0;
      white-space: nowrap;
    }
    &:hover span {
      max-width: 100%;
      opacity: 1;
    }
  }
}
