.filter {
  --text: var(--color-black);
  --border: var(--color-black);
  --background: var(--color-white);

  padding-inline: 0.5em;
  height: var(--size-4);
  display: flex;
  align-items: center;
  border-radius: 2em;
  color: var(--text);
  background-color: var(--background);
  border: solid 1px var(--border);
  cursor: pointer;
  font-size: var(--size-1);
  text-decoration: none;

  &.is-small {
    --border: var(--color-line);
    font-size: var(--size-0);
    height: var(--size-3);
  }

  &.no-border {
    --border: transparent;
  }
}

a.filter,
button.filter {
  &:hover {
    --background: var(--color-black);
    --text: var(--color-white);
    --border: var(--color-black);
    transition-property: background, color;
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;
  }
}
