.filter {
  --text: var(--color-black);
  --border: var(--color-black);
  --background: var(--color-white);

  padding: 0.2em 0.5em;
  border-radius: 2em;
  color: var(--text);
  background-color: var(--background);
  border: solid 1px var(--border);
  cursor: pointer;
  font-size: var(--size-1);

  &:hover {
    --background: var(--color-black);
    --text: var(--color-white);
  }
}
