.ly-main-footer:has(.footer) {
  background: var(--color-highlight);
}

.footer {
  grid-column: center;
  display: grid;
  grid-template-areas: 
    "logo logo logo"
    "tagline contact links"
    "menu menu menu"
  ;
  grid-template-columns: 1fr auto auto;
  column-gap: var(--space-xl);
  padding-block: var(--space-3xl);

  .logo {
    grid-area: logo;
    svg {
      width: min(100%, 180px);
      height: auto;
    }
  }

  .contact {
    font-style: normal;
  }

  .links {
    ul {
      --gap: 16px;
    }
  }

  .read {
    width: min(100%, 180px);
    height: auto;
  }
  
  .menu-languages {
    grid-area: menu;
    width: 100%;
    padding-top: var(--space-l);
    border-top: 1px solid var(--color-line);
    margin-top: var(--space-l);
    justify-content: flex-end;
  }

  @media (width < 1280px) {
    grid-column: content;
  }

  @media (width < 900px) {
    grid-template-areas:
      "logo logo logo"
      "tagline tagline tagline"
      "contact links ."
      "menu menu menu"
    ;

    .tagline {
      grid-area: tagline;
    }
  }

  @media (width < 600px) {
    display: flex;
    flex-direction: column;
  }
}
