.header {
  display: grid;
  row-gap: var(--space-s);
  grid-column: content;
  align-content: start;
  max-width: 800px;
  position: relative;

  @media (width > 1200px) {
    grid-column-start: center-start;
  }
}

.header-time {
  font-size: var(--size-0);
}

.header-title {
  /* font-family: var(--font-display); */
  font-weight: var(--font-bold);
  font-size: var(--size-7);
  letter-spacing: var(--size-7-spacing);
  line-height: var(--line-xshort);
  margin: 0;
}
.header-subtitle {
  margin: 0;
  font-size: var(--size-2);
  line-height: var(--line-base);

  p {
    margin: 0;
  }
}
.header-description {
  font-size: var(--size-2);
  line-height: var(--line-text);

  p {
    margin: 0.5em 0 0;

    + p {
      text-indent: 1em;
    }
  }

  &.is-big {
    font-size: var(--size-3);
    line-height: var(--line-base);
  }
}
.header-filter {
  margin-top: var(--space-m);
}

.header:has(.header-img) {
  --img-width: min(300px, 25vw);
  --img-space: var(--space-m);
  max-width: calc(800px + var(--img-width) + var(--img-space));
  padding-right: calc(var(--img-width) + var(--img-space));
}

.header-img {
  --img-height: 500px;

  margin: 0;
  max-width: var(--img-width);

  &.is-floating {
    --shadow-color: #000;
    position: absolute;
    right: 0;
    top: min(50%, var(--img-height) / 2);
    transform: rotate(3deg) translateY(-50%);
    filter: drop-shadow(
      -20px
      30px
      50px
      rgb(from var(--shadow-color) r g b / 0.4)
    );

    @media (width > 1600px) {
      right: -5vw;
    }
  }
}
