.header {
  display: grid;
  row-gap: var(--space-m);
  margin-bottom: 100px;
  margin-left: 250px;
}

.header-title {
  font-size: var(--size-7);
  letter-spacing: var(--size-7-spacing);
  font-weight: var(--font-black);
  line-height: var(--line-xshort);
  margin: 0;
}
.header-filter {
  max-width: 800px;
}
