.header {
  display: grid;
  row-gap: var(--space-s);
  margin-bottom: 100px;
  grid-column: content;
  align-content: start;
  max-width: 800px;

  @media (width > 1200px) {
    grid-column-start: center-start;
  }
}

.header-title {
  /* font-family: var(--font-display); */
  font-weight: var(--font-black);
  font-size: var(--size-7);
  letter-spacing: var(--size-7-spacing);
  line-height: var(--line-xshort);
  margin: 0;
}
.header-description {
  font-size: var(--size-2);

  p {
    margin: 0;
  }
}
.header-filter {
  margin-top: var(--space-m);
}
