.menu {
  --gap: var(--space-m-xl);
  display: flex;
  align-items: start;
  column-gap: var(--gap);

  > :where(ul) {
    list-style-type: "";
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: var(--space-2xs);
    max-width: 200px;
  }

  li {
    display: flex;
    align-items: center;
    column-gap: 0.5em;

    &::before {
      display: block;
      content: "";
      flex: 0 0 auto;
      width: 0.4rem;
      height: 0.6rem;
      background: currentColor;
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      opacity: 0;
    }
    &:has(.is-selected)::before {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.15em;
    }
  }
}

.menu-main {
  font-size: var(--size-1);
  font-weight: var(--font-bold);
  line-height: var(--line-short);
}
.menu-projects {
  font-size: var(--size-0);
  line-height: var(--line-short);
}
.menu-languages {
  font-size: var(--size-0);
  line-height: var(--line-short);
  margin-left: auto;

  .is-selected {
    font-weight: var(--font-bold);
  }
}
