.news-list {
  --row-gap: var(--space-s);
  border-top: solid 1px var(--color-line);
  padding-top: var(--row-gap);

  .news {
    display: grid;
    grid-column: content;
    grid-template-columns: subgrid;
    align-items: baseline;
    border-bottom: solid 1px var(--color-line);
    padding-bottom: var(--row-gap);
    grid-template-areas: "time time time" "header header header";

    @media (min-width: 800px) {
      grid-template-areas: "time header header";
    }
  }

  .news-header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--space-xs);
    row-gap: var(--space-2xs);
  }

  .news-title {
    font-size: var(--size-3);
    letter-spacing: var(--size-3-spacing);
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  .news-time {
    grid-area: time;

    @media (min-width: 800px) {
      text-align: right;
    }
  }
}
