.news-list {
  --row-gap: var(--space-s);
  border-top: solid 1px var(--color-line);
  padding-top: var(--row-gap);

  .news {
    display: grid;
    grid-column: content;
    grid-template-columns: subgrid;
    align-items: baseline;
    border-bottom: solid 1px var(--color-line);
    padding-bottom: var(--row-gap);
    grid-template-areas: "time time time" "header header header";

    @media (min-width: 800px) {
      grid-template-areas: "time header header";
    }
  }

  .news-header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--space-xs);
    row-gap: var(--space-2xs);
  }

  .news-time {
    grid-area: time;

    @media (min-width: 800px) {
      text-align: right;
    }
  }
}

.news-title {
  font-size: var(--size-3);
  letter-spacing: var(--size-3-spacing);
  margin: 0;

  a {
    text-decoration: none;
  }
}

.news-image {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}

.news.is-main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-areas: "content img";
  align-items: center;
  column-gap: var(--space-xl);
  border-radius: var(--border-radius);

  .news-image {
    grid-area: img;
  }
  .news-content {
    grid-area: content;
    display: grid;
    align-content: start;
    row-gap: var(--space-xs);
  }
  .news-intro {
    font-size: var(--size-2);
    letter-spacing: var(--size-2-spacing);
    line-height: var(--line-base);
  }
  .news-title {
    font-size: var(--size-6);
    line-height: var(--line-xshort);
    letter-spacing: var(--size-6-spacing);
  }
}
.news.is-secondary {
  display: grid;

  .news-content {
    display: grid;
    align-content: start;
    row-gap: var(--space-xs);
  }
  .news-intro {
    font-size: var(--size-1);
    letter-spacing: var(--size-1-spacing);
    line-height: var(--line-base);
  }
  .news-title {
    font-size: var(--size-4);
    letter-spacing: var(--size-4-spacing);
    line-height: var(--line-xshort);
  }
}
/* .news-group {
  &.is-first {
    display: grid;
    gap: var(--space-xl);
    align-content: start;
    border-left: solid 1px var(--color-line);
    padding-left: var(--space-xl);
  }

  &.is-second {
    column-count: 3;
    column-gap: var(--space-3xl);
    column-rule: solid 1px var(--color-line);
  }
} */

.news-home {
  grid-column: content;
  display: grid;
  align-content: start;
  row-gap: var(--space-xl);
  column-gap: var(--space-2xl);
  grid-template-areas: "main" "gr-1" "gr-2";

  > :nth-child(1) {
    grid-area: main;
  }
  > :nth-child(2) {
    grid-area: gr-1;
  }
  > :nth-child(3) {
    grid-area: gr-2;
  }
}

@media (width > 900px) {
  .news-home {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "main main main"
      "main main main"
      "gr-1 gr-1 gr-1"
      "gr-2 gr-2 gr-2";
  }

  .news-group {
    column-count: 3;
    column-gap: var(--space-3xl);
    column-rule: solid 1px var(--color-line);
    padding-top: var(--space-xl);
    border-top: solid 1px var(--color-line);
  }
}
@media (width > 1500px) {
  .news-home {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas:
      "main main main gr-1"
      "main main main gr-1"
      "gr-2 gr-2 gr-2 gr-1";
  }
  .news-group.is-first {
    display: grid;
    row-gap: var(--space-xl);
    border-left: solid 1px var(--color-line);
    border-top: none;
    padding-left: var(--space-xl);
    padding-top: 0;
  }
}
