.projects-year {
  grid-template-columns: subgrid;
  padding-top: var(--space-m);
  align-items: start;

  @media (width > 500px) {
    border-top: solid 1px var(--color-line);
  }

  + .projects-year {
    margin-top: var(--space-m);
  }

  > h2 {
    font-size: var(--size-3);
    margin-block: 0 1em;
    border-bottom: solid 1px var(--color-line);
    grid-column: content;

    @media (width > 500px) {
      grid-column: auto;
      margin: 0;
      text-align: right;
      border-bottom: none;
    }
  }
}
.project-list {
  list-style-type: "";
  grid-column: content;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: var(--space-m);

  @media (width > 500px) {
    grid-column: center-start / content-end;
  }

  .project {
    display: grid;
    grid-template-areas:
      "header"
      "links"
      "img";
    row-gap: var(--space-s);
    column-gap: var(--space-l);
    text-decoration: none;

    @media (width > 900px) {
      grid-template-columns: 300px 1fr;
      grid-template-areas:
        "img header"
        "img links";
    }
  }

  .project-title {
    font-size: var(--size-3);
    letter-spacing: var(--size-3-spacing);
    margin: 0;
  }
  .project-description {
    font-size: var(--size-2);
    letter-spacing: var(--size-2-spacing);

    p {
      margin: 0;
    }
  }
}

.project-header {
  grid-area: header;
}
.project-links {
  grid-area: links;

  ul {
    list-style-type: "";
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
    padding: 0.15em 0;
    &:hover {
      text-decoration: none;
    }
  }
}
.project-image {
  grid-area: img;

  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 42/20;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

.projects-home {
  margin-top: var(--space-m-xl);
  padding-top: var(--space-m-xl);
  border-top: solid 1px var(--color-line);
  border-bottom: solid 1px var(--color-line);

  .project {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      "img"
      "header"
      "links";
    row-gap: var(--space-s);
    text-decoration: none;

    &.featured {
      grid-template-areas:
        "img header"
        "img links";

      grid-template-columns: minmax(auto, calc(800px + var(--space-m-l))) 1fr;
      grid-template-rows: 1fr auto;
      column-gap: var(--space-m-l);

      .project-title {
        font-size: var(--size-4);
        letter-spacing: var(--size-4-spacing);
      }

      .project-description {
        font-size: var(--size-3);
        letter-spacing: var(--size-3-spacing);
      }
      @media (width < 1200px) {
        grid-template-columns: 400px 1fr;
      }
      @media (width < 800px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "img"
          "header"
          "links";
      }
    }
  }

  .project-title {
    font-size: var(--size-2);
    letter-spacing: var(--size-2-spacing);
    line-height: var(--line-short);
    margin: 0;
  }

  .project-description {
    font-size: var(--size-1);
    letter-spacing: var(--size-1-spacing);

    p {
      margin-block: 0.5em 0;
    }
  }
  .project-links {
    font-size: var(--size-0);
  }
}
