---
id: home
lang: [gl, es]
es:
  projects:
    title: Proyectos destacados
gl:
  projects:
    title: Proxectos destacados
---

<section class="projects-home ly-carousel">
  <header class="subheader">
    <h2 class="subheader-title">{{ projects.title }}</h2>
  </header>

  <ul class="ly-carousel-items">
    {{
      for project of search.pages(`type=project in_home=true lang=${lang}`, "year=desc title=asc")
    }}
      <li>
        {{ include "templates/project-list.vto" { project } }}
      </li>
    {{ /for }}
  </ul>
</section>

<section class="news-home ly-grid">
  {{
    for index, news of search.pages(`type=news lang=${lang}`, "date=desc", 6)
  }}
    {{ include "templates/news-grid.vto" { news } }}
  {{ /for }}

  <nav>
    {{# Botón ver máis #}}
    {{ set page = search.page("id=news-1 lang=" + lang) }}
    <a class="button-normal" href="{{ page.url }}">{{ t.home.more_news }}</a>
  </nav>
</section>
