---
id: home
lang: [gl, es]
es:
  texts: 
    intro:
      Somos una asociación sin ánimo de lucro fundada en 2006 y que agrupa a profesionales
      del diseño de toda Galicia. Abarca múltiples disciplinas, tales como el diseño gráfico
      y web, diseño UX/UI, diseño industrial, diseño editorial, diseño estratégico
      o el diseño de servicios.
    projects: Ver todos los proyectos
    events: Próximos eventos
gl:
  texts:
    intro:
      Somos unha asociación sen ánimo de lucro que se fundou en 2006 e que agrupa a profesionais
      do deseño de toda Galicia. Abrangue múltiples disciplinas, tales como o deseño gráfico
      e web, o deseño UX/UI, o deseño industrial, o deseño editorial, o deseño estratéxico
      ou o deseño de servizos.
    projects: Ver todos os proxectos
    events: Próximos eventos
---

<style>
.intro-home {
  min-height: min(50vh, 800px);
  display: grid;
  align-content: center;
  grid-column: content;
  max-width: 45em;

  > p {
    font-size: var(--size-4);
    letter-spacing: var(--size-4-spacing);
    line-height: var(--line-base);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: var(--font-bold);
    text-wrap: balance;
  }

  @media (width >= 800px) {
    grid-column: content;
    justify-self: center;
  }
}
</style>

<section class="intro-home">
  {{ texts.intro |> md }}
</section>

<section class="projects-home ly-carousel">
  {{ set projects = search.pages(`type=project in_home=true lang=${lang}`, "year=desc title=asc") }}
  {{ set projectsPage = search.page('id=projects') }}

  <ul class="ly-carousel-items">
    {{ for project of projects }}
      <li>
        {{ include "templates/project-list.vto" { project } }}
      </li>
    {{ /for }}
      <li>
        <a href="{{ projectsPage }}">
          {{ texts.projects }}
        </a>
      </li>
  </ul>
</section>

<div class="ly-2cols">
  <section class="ly-2cols-primary news-home">
    {{
      for index, news of search.pages(`type=news lang=${lang}`, "date=desc", 6)
    }}
      {{ include "templates/news-grid.vto" { news } }}
    {{ /for }}

    <nav class="pagination">
      {{ set page = search.page("id=news-1 lang=" + lang) }}

      <a class="button is-small" href="{{ page.url }}">{{ t.home.more_news }}</a>
    </nav>
  </section>

  <section class="ly-2cols-secondary events-home">
    {{ set eventsData = search.page(`main_menu=calendar lang=${lang}`) }}
    {{ set nextEvents = eventsData.events
      .sort((a, b) => a.date.getTime() < b.date.getTime())
      .slice(0, 10)
    }}

    <header class="subheader">
      <h2 class="subheader-title">{{ texts.events }}</h2>

      <ul class="legend subheader-legend">
        {{ for key, value of eventsData.types }}
        <li class="legend-dot is-{{ key }}">{{ value }}</li>
        {{ /for }}
      </ul>
    </header>

    <ul class="ly-grid">
      {{ for event of nextEvents }}
        {{ include "templates/event.vto" { event } }}
      {{ /for }}
    </ul>
  </section>
</div>