---
id: home
lang: [gl, es]
---

<section class="news-home">
  {{ for index, news of search.pages(`type=news lang=${lang}`, "date=desc", 6) }}
    {{ include "templates/news-grid.vto" { news, main: index === 0 } }}
  {{ /for }}

  <nav>
    {{# Botón ver máis #}}
    {{ set page = search.page("id=news-1 lang=" + lang) }}
    <a class="button-normal" href="{{ page.url }}">{{ t.home.more_news }}</a>
  </nav>
</section>

{{# <section>
  {{
    for portfolio of search.pages(`type=portfolio lang=${lang}`, "date=desc", 10)
  }}
    {{ include "templates/portfolio-list.vto" { portfolio } }}
  {{ /for }}
</section> #}}
