---
lang: [gl, es]
menu_id: news
main_menu: news
url.es: /es/noticias/
url.gl: /gl/novidades/
---
<div class="wrapper">
	<nav class="buttons-tabs">
		<a class="button is-selected" href="<?= $this->url('news') ?>"><?= __('Noticias') ?></a>
		<a class="button" href="<?= $this->url('articles') ?>"><?= __('Artigos') ?></a>
	</nav>

	<ul class="buttons-tags page-content-bar">
		{# <li<?= empty($tag) ? ' class="is-selected"' : '' ?>>
			<a href="<?= $this->url('news') ?>"><?= __('Todas as etiquetas') ?></a>
		</li> #}

		{# <?php foreach ($tags as $t): ?>
		<li<?= ($tag && $t->slug === $tag->slug) ? ' class="is-selected"' : '' ?>>
			<a href="<?= $this->url('news-tag', ['tag' => $t->slug]) ?>"><?= $t->name ?></a>
		</li>
		<?php endforeach ?> #}
	</ul>

	<div class="ui-autoload-container">
    {% for page in search.pages("type=news lang=" + lang, "date=desc") %}
    <article class="new new-list">
      <header class="new-header">
        <nav>
          {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </nav>

        <time datetime="{{ page.date | date("DATETIME") }}">{{ page.date | date("HUMAN_DATE") }}</time>

        <h1>
          <a href="{{ page.url }}">
            {{ page.title }}
          </a>
        </h1>
      </header>
    </article>
    {% endfor %}
	</div>
</div>
