---
layout: null

participantes:
  - nome: Gráfica Futura
    titulo: Gráfica Futura<br>[César Ávila]
    id: grafica-futura
    cita: Facer funcionar o intelecto e a intuición a partes iguais, coa mesma paixón e dun xeito crítico e racional
    bio: |
      É socio fundador do estudio madrileño Gráfica Futura Diseño Editorial, S.L. constituído en 1996 xunto con José Moreno e María Rubio. Especialízanse en deseño e comunicación, desenvolvendo o seu traballo en distintas áreas: editorial, sinalética, exposicións, imaxe corporativa e multimedia.

      Estreitamente relacionados de sempre co universo da arquitectura, colaboraron con diversos arquitectos nas aplicacións gráficas en edificios e en exposicións. No estudio fixeron proxectos para Tuñón e Mansilla no Museo de Belas Artes, Castellón ou no Archivo Regional de Madrid, ademais de con outros arquitectos como Andrés Cánovas.

      Actualmente, César Ávila exerce tamén de profesor no Grado de Deseño. Mención Gráfico na Universidade Europea de Madrid.
      
      [Gráfica Futura](http://www.graficafutura.es/)    
      
  - nome: Uqui Permui
    id: uqui-permui
    cita: O ollo dorme mentres non o despertas cunha pregunta
    bio: |
      É fundadora do estudio compostelán Uqui.net, un equipo multidisciplinar especializado en deseño e creación de dispositivos para activar e mellorar os procesos de comunicación. Na súa extensa traxectoria, de máis de 20 anos á fronte do estudio, desenvolveu proxectos de toda índole: deseño gráfico, editorial, espazos, audiovisual... As características que definen os seus traballos son: a implementación de estratexias que incitan á colaboración, e a activación da esfera pública, dese espazo da rúa, do encontro, do debate entre a cidadanía crítica e da construción activa dos diferentes aspectos da realidade.

      Uqui foi presidenta da Asociación Galega de Deseñadores e formou parte do consello de investigación e produción de Proxecto-Edición, no que se exploraron as potencialidades do medio da edición máis desatendidas (libros de artista, edición dixital...). A imaxe do Cineuropa, da Feira das Artes Escénicas ou dos Premios Auditorio de Galicia, exposicións como *Gallaecia Petrea,* e publicacións como *La Más Bella Revista* dan boa conta da labor deste equipo.

      [Uqui.net](http://www.uqui.net/)
  
  - nome: Pancho Lapeña
    id: pancho-lapenha
    cita: O mal deste país é a falta de curiosidade
    bio: |
      Comezou estudando Filosofía en Compostela, e completou a súa formación cursando dúas carreiras técnicas de artes aplicadas: cantaría e volume. Estas inquedanzas levárono a ser bolseiro do Laboratorio de Formas de Galicia do Grupo Sargadelos e posteriormente a cursar gravado e serigrafía na Escola de Impresión de Edimburgo. Trasladouse a Italia para traballar no eido na industria téxtil e desenvolver o seu interese pola influencia sociolingüística nos dialectos rexionais. Pancho é un comprometido antropólogo iconográfico, que investiga aspectos da paisaxe, cultura, gastronomía do país, plasmando o que recolle en ensaios e representacións gráficas que chama "deseños atlánticos".

      Locen os seus grafismos publicacións de Carlos Taibo, Sechu Sende, Carlos Santiago ou representacións teatrais de Quico Cadaval ou o Grupo Chévere. Outros xa son iconas reivindicativas do maxín colectivo: SOS Courel, O teu monte precisa de ti, Homenaxe a Isaac Díaz Pardo... Do máis recente, cabe destacar, o proxecto de recuperación das máscaras tradicionais do entroido galego.

      [Máis información](http://cargocollective.com/panchez)
  
  - nome: Estaleiro editora
    titulo: Estaleiro editora<br>[Carlos Figueiras]
    id: estaleiro
    cita: Liberando libros, unha alternativa editorial
    bio: |
      Trátase dunha asociación cultural sen ánimo de lucro que desenvolve un proxecto de edición capaz de abrir novos camiños dentro do sistema literario galego. Publican baixo licenzas Creative Commons, co obxectivo da creación dun espazo de liberdade para a dinamización cultural, a innovación literaria e o pensamento crítico.

      Escollen para a súa iniciativa vías de distribución alternativas, favorecendo que unha edición de calidade manteña un prezo reducido, reinvestindo a pequena marxe de beneficio na produción de novos materiais. Tanto autores como editores renuncian a calquera retribución económica polo seu traballo. Carlos Taibo, Rubén Ruibal ou Clara Gayo, entre outros, forman parte do seu catálogo, que se distribúe pola rede e tamén en puntos de venda que traspasan as nosas fronteiras para chegar a Porto ou Barcelona.

      [Estaleiro editora](http://www.estaleiroeditora.org/)

  - nome: Eurográficas
    id: eurograficas
    titulo: Eurográficas<br>[Juan Carlos Pichel]
    cita: Facendo de cada proxecto unha experiencia, cada libro forma parte de nós
    bio: |
      Esta imprenta familiar que se orixinou en Santa Comba en 1986, leva un longo camiño percorrido convertendo en algo palpable, que perdurará no tempo, os proxectos de moitos autores e deseñadores. Nas súas modernas instalacións compostelás experimentan coas técnicas de impresión e o seus coñecementos en control colorimétrico para obter o mellor acabado posible para cada edición concreta. A tecnoloxía fai posible combinar a técnica estocástica con politonos e hexacromía, dotando de vida as imaxes das publicacións, na procura da calidade e a excelencia. En 2009 acadaron o Premio a Mellor Libro Nacional en PhotoEspaña.

      Juan Carlos Pichel comparte tamén proxecto editorial propio con Amancio Liñares e Antonio Puentes, desde o 2001. 3C3 editores naceu coa vontade de contribuír a impulsar a cultura e as letras galegas. Contan con máis dun cento de títulos publicados de diversos xéneros que van desde a novela ata o ensaio, pasando polo teatro e a economía.

      [Eurográficas](http://www.eurograficas.com/)
  
  - nome: Desescribir
    id: desescribir
    cita: "É a nosa maneira de expresar un desexo e unha necesidade: a de cuestionar, poñer en dúbida e, cando é posible, repensar a realidade"
    bio: |
      Cibrán Rico e Suso Vázquez, arquitectos de formación, forman este estudio galego de deseño gráfico e editorial. En 2012 comezan o seu proxecto editorial propio, Fabulatorio, un lugar para as historias que aínda non foron contadas e para as que precisan ser contadas de novo. Con esta iniciativa queren experimentar nas capacidades que ten o libro como obxecto para comunicar significados; investigar na relación íntima entre a súa forma e a transmisión e a posta en valor do seu contido.

      Ese mesmo ano obtiveron un premio Laus Plata cun cartel feito para Enor, e na edición do 2013 acadaron dous premios máis con El jardín en movimiento, unha obra editada por Gustavo Gili e que obtivo o Laus de bronce á Mellor portada ou colección de portadas de libro, e o traballo realizado para a Fundación Caja de Arquitectos arquia/próxima 2012, Nuevos Formatos que resultou premiado na subcategoría de Conxunto de elementos coordinados.

      [Desescribir](http://www.desescribir.com/)
      
  - nome: Héctor Serrano
    id: hector-serrano
    cita: "Fagas o que fagas, procura que o resultado final nunca sexa aburrido"
    bio: |
      Estudou Deseño Industrial en Valencia, de onde procede, e fixo o Máster en deseño de produto do Royal College of Arts de Londres, cidade na que fundou o Héctor Serrano Studio no 2000. O estudio especialízase no deseño de produto, deseño de espazos, comunicación e laboratorio. Os seus proxectos mesturan a innovación coa comunicación de ideas familiares de xeito inusual e inventivo.

      Entre os seus clientes atopamos firmas e institucións como FontanaArte, Gandia Blasco, Roca, ICEX Ministerio de Industria, Droog, Metalarte, La Casa Encendida (Caja Madrid) e o Concello de Valencia entre outros.  E na súa historia  premios e distincións como o Peugeot Design Award e o Premio Nacional de Deseño Non Aburridos, o segundo premio New Bus for London concursando con Miñarro García e Javier Esteban e tamén o Designer of the Year 2009 da AD magazine. Os seus produtos expóñense en Museos como o V&amp;A en Londres e o Cooper-Hewitt National Design Museum en Nova York. Tamén forman parte de varias coleccións como a do Central Museum de Ámsterdam.
      
      [Héctor Serrano](http://www.hectorserrano.com)
  
  - nome: Cenlitrosmetrocadrado
    id: cenlitrosmetrocadrado
    cita: Resolvemos pequenos problemas cotiáns das comunidades que temos máis próximas
    titulo: Cenlitrosmetrocadrado<br>[Manuel Del Río]
    bio: |
      É un estudio de deseño e comunicación de Santiago de Compostela, composto por Xabier Rilo Calvo, Manuel del Río Regos e Ricardo Tubío Pazos. A súa teima é ofrecer un deseño de clara orientación humanista, que vaia máis alá da simple función práctica e que atenda tamén funcións de carácter emocional e social.

      Cunha identidade de marcado carácter atlántico desenvolven proxectos que van desde o deseño gráfico e de produto ata a coordinación de equipos de traballo en ámbitos creativos. Destacan por ter procesos de creación coidados e rigorosos, traballando con artesáns e produtores locais, que dan coma resultado Noia Intramuros, A Pedrachán, Augalevada ou o Loxe Mareiro; e sempre sorprenden gratamente coas edicións propias como as Amelias ou Iena.

      [cenlitrosmetrocadrado.com](http://cenlitrosmetrocadrado.com/)
  
  - nome: Fruto DS
    id: frutods
    cita: Gústanos ver como cada proxecto vai determinando o seu propio taboleiro de xogo
    titulo: Fruto DS<br>[Alberto Montiel]
    bio: |
      Estudio de deseño galego, buscan desenvolver proxectos que se integren dentro da estratexia das empresas, e consigan xerarlles valor ás persoas, tanto desde o aspecto funcional como na súa dimensión emocional. Perseguen o equilibrio entre os diversos factores empresariais, industriais e sociais que entran en xogo, para encamiñar os produtos ao éxito.

      Formado por un equipo estable de deseñadores con diferentes perfís, pemítelles resolver os proxectos desde a súa formulación conceptual ata a materialización, e apoialos con ferramentas de comunicación.

      Traballan cóbado con cóbado coas empresas para chegar a resultados como o colector Big-Bin, recentemente galardoado cun primeiro premio na categoría de mobiliario urbano nos A’Design Awards. Colaboran con empresas de diversos sectores como Finsa, R, EV Confort, Portadeza, Orfega, Formato Verde...

      [Fruto DS (blog)](http://frutods.com/blog/)
  
  - nome: Luís Gil
    id: luis-gil
    titulo: Undo Redo<br>[Luis Gil Pita]
    cita: Rehabilitación, interpretación e coidado de mobles segundo a filosofía de Louise Bourgeois
    bio: |
      Arquitecto pola ETSA desde 1997, ano no que comeza a súa colaboración no estudio de Manuel Gallego Jorreto. No estudio que comparte con Cristina nieto levou a cabo obras nos eidos da rehabilitación tradicional, racionalista e contemporánea, e se elaboraron as bases do plan de mantemento da cidade histórica de Santiago de Compostela. De 2002 ao 2012 foron os responsables do inventario de arquitectura e etnografía da provincia de Pontevedra para a Dirección Xeral de Patrimonio. Un dos seus proxectos máis recentes, a reforma e ampliación do Club Náutico de Remo e Piragüismo de Pontecesures 2010, foi seleccionada na BEAU 2011 e nos premios Enor 2011.Tamén deseñan exposicións para museos, fundacións e concellos galegos. Hai dous anos fundan xunto con María Arizcun e Juan Aradas UnDo ReDo, un espazo de reflexión e divulgación sobre o asento e o mobiliario como arquitectura. Na actualidade rehabilitan a Casa Museo Rosalía de Castro.

      [Undo Redo](http://undoredo17.wordpress.com/)
      
  - nome: Patricia Martínez
    id: patricia-martinez
    cita: A nosa iluminación é sobre todo emocional
    titulo: Arturo Álvarez<br>[Patricia Martínez]
    bio: |
      Xerente da empresa que fundou xunto co deseñador Arturo Álvarez en 1994. Dedícanse ao deseño e produción de todo tipo de luminarias decorativas para o fogar, xardín e instalacións comerciais. As súas pezas son únicas, feitas a man, edicións numeradas de obxectos orixinais, sobrios aínda que con grande personalidade. Os modelos Gea e Fluo acadaron o prestixioso premio internacional Good Design (edicións 2008 e 2009 respectivamente) e en 2010 acadan un Red Dot, por Guau, deseñada por El Último Grito. Un dos seus deseños, Bety, fica exposto no Museo das Artes Decorativas de Barcelona, e outros moitos participaron en exposicións en Londres, Nova York e Toquio. Traballan con recoñecidos deseñadores de todo o mundo e continúan innovando na procura de fontes de luz máis ecolóxicas, sustentables, reivindicando sempre os procesos artesanais.

      [Arturo Álvarez](http://www.arturo-alvarez.com/es)
  
  - nome: Xènia Viladàs
    id: xenia-viladas
    titulo: xvdmc<br>[Xènia Viladàs]
    cita: O deseño captura, xera e comunica valor; é polo tanto un feito económico, entendendo que o valor é un recurso escaso
    bio: |
      Economista e MBA,  Xènia Viladàs foi, sucesivamente, directora da Fundación Barcelona Centro de Deseño (BCD), responsable da área de xestión da Escola Superior de Deseño Elisava, en Barcelona, e Conselleira Delegada da Sociedade Estatal para a promoción do Deseño e a Innovación (DDI), antes de  pór en marcha XVDMC, consultoría de xestión do deseño e business design.

      É membro do Consello Consultor do Design Management Institute (DMI) desde o ano 2000. Ten publicados dous libros sobre xestión do deseño e sobre deseño de servizos: *Diseño rentable* e *El diseño a su servicio,* os dous traducidos ao inglés.

      [xvdmc.es](http://www.xvdmc.es/)
      
programa:
  - dia: Venres, 18 de outubro
    campo: Deseño gráfico e editorial
    horas:
      - hora: 09:00 h
        texto: Acreditación dos asistentes ao seminario
        
      - hora: 09:15 h
        texto: |
          Seminario con César Ávila:  
          *Algunhas prácticas sobre a forma do libro*
          
      - hora: 11:45 h
        texto: Descanso
        
      - hora: 12:00 h
        texto: Seminario con César Ávila (2ª parte)
        
      - hora: 13:30 h
        texto: Pausa para xantar
        
      - hora: 15:30 h
        texto: Acreditación de asistentes
        
      - hora: 16:00 h
        texto: |
          Charla de Uqui Permui:  
          *Relacións icónicas coas paisaxes...*  
          *Entrecruzar gráfico entre O Brasil, Portugal e Galicia*
        
      - hora: 16:45 h
        texto: |
          Charla de Pancho Lapeña:  
          *Charla sorpresa*
        
      - hora: 17:30 h
        texto: Descanso
        
      - hora: 17:45 h
        texto: |
          Charla de César Ávila:  
          *Algunhas estratexias sobre a forma do libro*
        
      - hora: 18:30 h
        texto: |
          Mesa redonda con César Ávila, Uqui Permui, Pancho Lapeña, Carlos Figueiras e Juan Carlos Pichel. Moderada por Suso Vázquez.

  - dia: Sábado, 19 de outubro
    campo: Deseño de produto
    horas:
      - hora: 09:00 h
        texto: Acreditación dos asistentes ao seminario
        
      - hora: 09:15 h
        texto: |
          Seminario con Héctor Serrano: 
          *Cada tolo coa súa teima. Un obxecto e unha manía.*
          
      - hora: 11:45 h
        texto: Descanso
        
      - hora: 12:00 h
        texto: Seminario con Héctor Serrano (2ª parte)
        
      - hora: 13:30 h
        texto: Pausa para xantar
        
      - hora: 15:30 h
        texto: Acreditación de asistentes
        
      - hora: 16:00 h
        texto: |
          Charla de cenlitrosmetrocadrado. Manuel del Río:  
          *De reollo*
        
      - hora: 16:45 h
        texto: |
          Charla de Fruto DS. Alberto Montiel:  
          *Deseñar co compás na man*
        
      - hora: 17:30 h
        texto: Descanso
        
      - hora: 17:45 h
        texto: |
          Charla de Héctor Serrano:  
          *Deseñando emocións*
        
      - hora: 18:30 h
        texto: |
          Mesa redonda con Héctor Serrano, Manuel del Río, Alberto Montiel, Luis Gil Pita e Patricia Martínez. Moderada por Xènia Viladàs

---

<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>FEED</title>

		<link rel="stylesheet" type="text/css" href="/feed-2013/styles.css">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="/feed-2013/flowplayer/flowplayer.min.js"></script>
	</head>

	<body>
		<article class="feed">
			<header>
				<h1 class="image image-logo">FEED</h1>
				
				<h2>
					Foro de<br>
					edición e<br>
					deseño<br>
					2013
				</h2>

				<p>
					Santiago de Compostela<br>
					18 e 19 de outubro<br>
					<span class="image image-dag">DAG</span>
				</p>

				<div class="social">
					<a href="https://twitter.com/share" class="twitter-share-button" data-lang="gl">Chiar</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</header>

			<nav class="menu-principal">
				<ul>
					<li><a href="#grafica-futura">Participantes</a></li>
					<li><a href="#programa">Programa</a></li>
					<li><a href="#entradas">Entradas</a></li>
					<li><a href="#onde">Onde</a></li>
					<li><a href="#contacto">Contacto</a></li>
					<li><a href="#colaboradores">Colaboradores</a></li>
				</ul>
			</nav>

			<div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
				<video poster="/feed-2013/video/video.png">
					<source type="video/mp4" src="/feed-2013/video/video.mp4">
					<source type="video/webm" src="/feed-2013/video/video.webm">
				</video>
			</div>

			<div class="intro">
				<p>O FEED (Foro de Edición e Deseño) é un espazo de encontro entre profesionais do deseño e estudantes de calquera das súas disciplinas, que aposta claramente pola hibridación e a interrelación entre os deseñadores. Ten como obxectivo posibilitar un marco de reflexión e debate ao redor da evolución histórica do deseño e a visión de futuro profesional neste eido, identificando necesidades e estratexias para o seu desenvolvemento e investigación, ademais de achegarlles aos futuros deseñadores galegos o traballo profesional, mediante seminarios, charlas e debates que contribúan á formación dos entes implicados.</p>
				<p>Para esta segunda edición, a DAG (Asociación Galega de Deseñadores) propón dúas xornadas, a primeira dedicada a deseño gráfico e edición e a segunda a deseño de produto. Ambas contan coa presenza de recoñecidos profesionais que exporán a súa visión persoal sobre o deseño e compartirán a súa experiencia cos asistentes.</p>
			</div>

			<nav class="menu-participantes">
				<ul>
					<li><a href="#grafica-futura">gráfica futura</a></li>
					<li><a href="#hector-serrano">hector serrano</a></li>
					<li><a href="#uqui-permui">uqui permui</a></li>
					<li><a href="#cenlitros">cenlitrosmetrocadrado</a></li>
					<li><a href="#pancho-lapenha">pancho lapeña</a></li>
					<li><a href="#frutods">fruto ds</a></li>
					<li><a href="#estaleiro">estaleiro editora</a></li>
					<li><a href="#patricia-martinez">patricia martínez</a></li>
					<li><a href="#eurograficas">eurográficas</a></li>
					<li><a href="#luis-gil">luis gil</a></li>
					<li><a href="#desescribir">desescribir</a></li>
					<li><a href="#xenia-viladas">xènia viladàs </a></li>
				</ul>
			</nav>

			<section class="invitados" id="participantes">

				{% for val in participantes %}
				<article class="invitado" id="{{ val.id }}">
					{% if loop.index0 % 2 %}
					<blockquote data-bottom-top="transform:translateX(-100px)" data-top-bottom="transform:translateX(100px)">
					{% else %}
					<blockquote data-bottom-top="transform:translateX(100px)" data-top-bottom="transform:translateX(-100px)">
					{% endif %}
						{{ val.cita | md | safe }}
					</blockquote>

					<div>
						<h1>
							{{ val.titulo | safe or val.nome | safe }}
						</h1>

						{{ val.bio | md | safe }}
					</div>

					{% if not loop.last %}
					<a href="#{{ participantes[loop.index].id }}" class="seguinte">&darr;</a>
					{% endif %}
				</article>
				{% endfor %}
			</section>

			<section class="calendario" id="programa">
				<h1 class="titulo-seccion">Programa</h1>

				{% for dia in programa %}
				<div class="calendario-dia">
					<h2>
						{{ dia.dia }}<br>
						{{ dia.campo }}
					</h2>

					<ul>
						{% for hora in dia.horas %}
						<li>
							<strong class="hora">{{ hora.hora }}</strong>
							{{ hora.texto | md | safe }}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</section>

			<section class="entradas" id="entradas">
				<h1 class="titulo-seccion">Entradas e prezos</h1>

				<div class="seccion-intro">
					<p>Reserva a túa entrada do FEED escribindo a <a href="mailto:info@asociaciondag.org">info@asociaciondag.org</a> indicándonos que modalidade de entrada desexas. Unha vez recibida a solicitude mandarémosche un mail cos pasos a seguir para  a aboar o importe correspondente. Os estudantes teñen desconto nas charlas da tarde (deberán acreditalo na entrada do evento).</p>
					<p>Lembra que as prazas dos seminarios son limitadas, 20 para cada un, e as charlas estarán limitadas pola capacidade da sala. Non se venderán entradas o día do evento, todas deben adquirirse por adiantado.</p>
					<p>As charlas, de ambas as tardes, son de balde para socios da DAG, mais deberán avisar da súa asistencia. Grazas e vémonos no FEED!</p>
				</div>

				<ul class="entradas-modalidades">
					<li>
						<h2><strong>A</strong> <span>1 Seminario</span></h2>
						<p>Seminario de César Ávila ou Héctor Serrano: <strong>20 euros</strong> (Socios DAG <strong>10 euros</strong>)</p>
					</li>

					<li>
						<h2><strong>B</strong> <span>2 Seminarios</span></h2>
						<p>Seminarios de César Ávila e Héctor Serrano: <strong>35 euros</strong> (Socios DAG <strong>20 euros</strong>)</p>
					</li>

					<li>
						<h2><strong>C</strong> <span>Charlas 1 día</span></h2>
						<p>Charlas do venres ou do sábado: <strong>15 euros</strong> (Estudantes: <strong>10 euros</strong>, socios DAG <strong>de balde</strong>)</p>
					</li>

					<li>
						<h2><strong>D</strong> <span>Charlas 2 días</span></h2>
						<p>Charlas do venres e do sábado: <strong>25 euros</strong> (Estudantes: <strong>15 euros</strong>, socios DAG <strong>de balde</strong>)</p>
					</li>

					<li>
						<h2><strong>E</strong> <span>Foro 1 día</span></h2>
						<p>Seminario + charlas do venres ou do sábado: <strong>30 euros</strong> (Estudantes: <strong>25 euros</strong>, socios DAG <strong>10 euros</strong>)</p>
					</li>

					<li>
						<h2><strong>F</strong> <span>Foro 2 días</span></h2>
						<p>Seminarios + charlas do venres e do sábado: <strong>55 euros</strong> (Estudantes: <strong>40 euros</strong>, socios DAG <strong>20 euros</strong>)</p>
					</li>
				</ul>
			</section>

			<img src="/feed-2013/img/F.png" alt="Feed" id="letra-flotando" width="264" height="450" data-bottom-top="transform:scale(0.5, 0.5) translateX(0px) rotate(0deg);" data-top-bottom="transform:scale(1, 1) translateX(-100px) rotate(-20deg);">

			<section class="onde" id="onde">
				<h1 class="titulo-seccion">Onde</h1>

				<div class="seccion-intro">
					<p>O FEED celebrarase no edificio do Centro Galego de Arte Contemporánea.</p>
					<iframe width="500" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=42.87068,-8.483162000000007&amp;sspn=0.09662682604439868,0.17579770906222933&amp;t=m&amp;q=CGAC,+R%C3%BAa+Valle+Incl%C3%A1n+s%2Fn+15704+Santiago+de+Compostela&amp;ie=UTF8&amp;hq=CGAC,+R%C3%BAa+Valle+Incl%C3%A1n+s%2Fn&amp;hnear=15704+Santiago+de+Compostela,+A+Coru%C3%B1a,+Spain&amp;ll=42.882379,-8.54039&amp;spn=0.013963,0.025407&amp;output=embed"></iframe>
					<p>Os seminarios terán lugar nunha das súas aulas e as charlas e mesas redondas serán no auditorio.</p>
					<p>O tempo que se tarda en percorrer camiñando a distancia desde a estación de buses ao CGAC é de 15 min. aprox. e desde a estación de ferrocarril duns 20 min. aprox. Podedes consultar as rutas e os horarios do transporte urbano <a href="http://www.tussa.org/web/transporte.php?lg=gal">na súa páxina web</a>.</p>
					<p>O aparcadoiro máis próximo ao CGAC está na mesma rúa, nun edificio contiguo. Tamén están preto o parking de Belvís e o de Xoan XXIII e algunhas zonas de ORA como as rúas: Loureiros, San Roque, Teo, etc.</p>
					<p>Existe unha ampla oferta gastronómica preto do museo (rúa de San Pedro, rúa de San Roque), ademais da propia cafetería do CGAC.</p>
					<p>Para acceder ás actividades terás que acreditarte no mostrador da entrada principal. Pola mañá para os seminarios, e pola tarde para as charlas e mesas redondas. Conta sempre con este tempo de marxe para facilitar o labor da organización e atrasar o comezo das xornadas o mínimo posible. Grazas.<p>
				</div>
			</section>


			<section class="contacto" id="contacto">
				<h1 class="titulo-seccion">Contacto</h1>

				<address class="seccion-intro">
					<p>
						<strong>Laura Rubio (xerente)</strong><br>
						Asociación Galega de Deseñadores (DAG)<br>
						Apartado de Correos 2131<br>
						15780 Santiago de Compostela
					</p>
					<p>
						<a href="http://www.asociaciondag.org">asociaciondag.org</a><br>
						<a href="mailto:info@asociaciondag.org">info@asociaciondag.org</a>
					</p>

					<p>Estamos á vosa disposición  por se tivésedes algunha dúbida que aclarar ou precisásedes de máis información.</p>
					<p>Desexamos que as xornadas do FEED sexan do voso proveito.</p>
				</address>
			</section>

			<section class="colaboradores" id="colaboradores">
				<h1 class="titulo-seccion">Colaboradores</h1>

				<h2>Organiza</h2>
				<ul>
					<li class="image image-dag"><a href="http://www.asociaciondag.org">DAG</a></li>
				</ul>
				

				<h2>Patrocina</h2>
				<ul>
					<li class="image image-agadic"><a href="http://www.agadic.info">Agadic</a></li>
					<li class="image image-xunta"><a href="http://www.xunta.es">Xunta de Galicia</a></li>
				</ul>

				<h2>Colaboran</h2>
				<ul>
					<li class="image image-cgac"><a href="http://www.cgac.org">CGAC</a></li>
					<li class="image image-eurograficas"><a href="http://www.eurograficas.com">Eurográficas</a></li>
					<li class="image image-fedrigoni"><a href="http://www.fedrigoni.es/castellano/fedrigoni-espania/">Fedrigoni</a></li>
					<li class="image image-agenciagrafica"><a href="http://www.agenciagrafica.es">Agencia Gráfica</a></li>
					<li class="image image-brial"><a href="https://maps.google.com/maps?ie=UTF-8&amp;q=Gráficas+Brial+L.&amp;fb=1&amp;hq=graficas+brial+imprenta&amp;cid=0,0,16697641880191244258&amp;ei=0wBIUvywAsjwhQehi4GgAg&amp;ved=0CLwBEPwSMAs">Gráficas Brial</a></li>
					<li class="image image-formatos"><a href="http://www.libreriaformatos.com">Librería Formatos</a></li>
				</ul>

				<h2>Apoian</h2>
				<ul>
					<li class="image image-galiciaeditorial"><a href="http://www.lavozdegalicia.es">Galicia editorial</a></li>
					<li class="image image-fabulatorio"><a href="http://fabulatorio.org">Fabulatorio</a></li>
					<li class="image image-andurinha"><a href="http://www.andurina.com">Anduriña</a></li>
					<li class="image image-axeitos"><a href="http://www.paginasamarillas.es/fichas/ig/axeitos-co_219473832_000000001.html">Axeitos</a></li>
					<li class="image image-legatoria"><a href="http://www.legatoria.es/es/">Legatoria</a></li>
					<li class="image image-moure"><a href="http://www.mourehotel.com">Moure</a></li>
					<li class="image image-pecados"><a href="http://www.pecadosdecompostela.com">Pecados</a></li>
				</ul>
			</section>
		</article>

		<script type="text/javascript" src="/feed-2013/js/skrollr.min.js"></script>
		<script type="text/javascript">
			var s = skrollr.init();

			$('body').on('click', '[href^="#"]', function () {
				var $target = $($(this).attr('href'));

				if ($target) {
					var position;

					if ($target.height() > $(window).height()) {
						position = $target.offset().top - 100;
					} else {
						position = s.relativeToAbsolute($target[0], 'center', 'center');
					}

					s.animateTo(position, {
						duration: 1000
					});
				}

				return false;
			});
		</script>
	</body>
</html>
