.ly-columns {
  --width: 200px;
  --column-gap: var(--space-m-l);
  --row-gap: var(--space-m-l);

  list-style-type: "";
  margin: 0;
  padding: 0;
  column-width: var(--width);
  column-gap: var(--column-gap);
  grid-column: content;

  > * {
    margin-bottom: var(--row-gap);
    width: 100%;
    break-inside: avoid-column;
  }
}
