.ly-grid {
  --width: 200px;
  --column-gap: var(--space-m-l);
  --row-gap: var(--space-m-l);

  list-style-type: "";
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:
    repeat(auto-fill, minmax(min(var(--width), 100%), 1fr));
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  grid-column: content;
}
