/**
 * share.css
 *
 * INFORMACION
 * Estilos para botóns de compartir - http://asociaciondag.org.
 *
 * AUTORES
 * Oscar Otero e Segundo Fdez no ano 2015.
 * http://oscarotero.com | http://segundofdez.com
 *
 * XENERICO
 * normalize.css .......... http://necolas.github.io/normalize.css
 * Desenvolvido por Nicolas Gallagher coa axuda de Jonathan Neal.
 *
 * FONTES
 * isaac-font.css ......... Importa a tipografia Isaac font.
 * Deseñada por Marcos Dopico (http://maistypes.com).
 *
 */
.share {
  & a {
    @extend %csans-button;
    background: white;
    border-radius: 2px;
    padding: 0.5em;

    & svg {
      display: inline-block;
      vertical-align: middle;
    }

    & span {
      display: none;
    }

    @media (--mobile-landscape) {
      padding: 0.5em 1em 0.4em 1em;

      & span {
        display: inline;
        padding-left: 0.3em;
      }
    }
    &.share-twitter,
    &.share-facebook,
    &.share-gplus {
      &:hover {
        color: white;
      }
    }
    &.share-twitter {
      border-color: #55acee;
      color: #55acee;
      &:hover {
        background-color: #55acee;
      }
    }
    &.share-facebook {
      border-color: #3b5998;
      color: #3b5998;
      &:hover {
        background-color: #3b5998;
      }
    }
    &.share-gplus {
      border-color: #dc4a38;
      color: #dc4a38;
      &:hover {
        background-color: #dc4a38;
      }
    }
  }
}
