@import "npm:normalize.css";

* {
  text-underline-offset: var(--font-underline-offset);
  box-sizing: border-box;
}
html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-family);
  font-size: var(--size-1);
  line-height: var(--line-base);
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: var(--font-bold);
}

a {
  color: var(--color-black);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
}
