.top-m-xl {
  margin-top: var(--space-m-xl);
}
.top-xl-2xl {
  margin-top: var(--space-xl-2xl);
}
.top-2xl {
  margin-top: var(--space-2xl);
}
.bottom-2xl {
  margin-bottom: var(--space-2xl);
}
.top-4xl {
  margin-top: var(--space-4xl);
}
.top-6xl {
  margin-top: var(--space-6xl);
}

::selection {
  color: var(--color-white);
  background: var(--color-black);
}
