:root {
  /* Colors */
  --color-black: #1a1a1a;
  --color-white: #fff;

  /* Font sizes */
  --size-0: clamp(0.8rem, 0.8449rem + -0.058vw, 0.8333rem);
  --size-1: clamp(1rem, 1rem + 0vw, 1rem);
  --size-2: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
  --size-3: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
  --size-4: clamp(1.728rem, 1.6497rem + 0.3915vw, 1.9531rem);
  --size-5: clamp(2.0736rem, 1.9457rem + 0.6397vw, 2.4414rem);
  --size-6: clamp(2.4883rem, 2.2923rem + 0.9799vw, 3.0518rem);
  --size-7: clamp(2.986rem, 2.6977rem + 1.4412vw, 3.8147rem);

  /* Font family */
  --font-family: Isaac, system-ui, sans-serif;
  --font-display: IsaacDisplay, var(--font-normal);

  /* Font weights */
  --font-normal: 400;
  --font-bold: 600;
  --font-black: 700;

  /* Font details */
  --font-underline-offset: 0.15em;

  /* Line height */
  --line-base: 1.4;
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: 0.25rem;
  --space-2xs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 6rem;

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
  --space-2xs-xs: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-xs-s: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --space-s-m: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-m-l: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  --space-l-xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-xl-2xl: clamp(3rem, 2.6522rem + 1.7391vw, 4rem);
  --space-2xl-3xl: clamp(4rem, 3.3043rem + 3.4783vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  --space-m-xl: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
}
