<article>
  <a href="{{ article.url }}">
    <img
      src="{{ article.cover }}"
      width="200"
      height="120"
      alt=""
    >

    <header>
      <h1>{{ article.title }}</h1>
      <p>Por {{ article.author }}</p>
    </header>
  </a>
</article>
