<article>
  <a class="article" href="{{ article.url }}">
    <img
      class="article-image"
      src="{{ article.cover }}"
      width="420"
      height="200"
      alt=""
    >

    <header class="article-header">
      <h1 class="article-title">{{ article.title }}</h1>
      <p class="article-author">Por {{ article.author }}</p>
    </header>
  </a>
</article>
