<section class="footer">
  <div class="logo">
    <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
  </div>
  <div class="footer-data">
    <h4 class="tag">{{ t.dag }}</h4>
    <address class="contact">
      <h4>{{ t.footer.contact }}</h4>
      {{ t.footer.address |> md }}
    </address>
    <div class="links">
      <h4>{{ t.footer.follow }}</h4>
      <ul>
        <li>
          <a
            href="https://es-es.facebook.com/pages/DAG-Asociaci%C3%B3n-Galega-de-Dese%C3%B1adores/149460691764713"
            rel="noopener" target="_blank"
          >
            Facebook
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/asociaciondag/"
            rel="noopener" target="_blank"
          >
            Instagram
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/user/dagasociacion/videos"
            rel="noopener" target="_blank"
          >
            Youtube
          </a>
        </li>
        <li>
          <a href="https://x.com/asociaciondag" rel="noopener" target="_blank">
            X
          </a>
        </li>
      </ul>
    </div>
    <div class="read">
      <h4>{{ t.footer.read_member }}</h4>
      <img src="/img/icons/read.svg" inline>
    </div>
  </div>
  
  <!--nav>
    {{ for p of search.pages("footer=true lang=" + lang) }}
      <a href="{{ p.url }}">{{ p.title }}</a>
    {{ /for }}
  </nav -->
</section>
