---
menu:
  languages:
    gl:
      name: Galego
      home: /
    es:
      name: Español
      home: /es/
---
<section class="footer">
  <div class="logo">
    <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
  </div>
  <h4 class="tagline">{{ t.dag }}</h4>
  <address class="contact">
    <h4>{{ t.footer.contact }}</h4>
    {{ t.footer.address |> md }}
  </address>
  <div class="links">
    <h4>{{ t.footer.read_member }}</h4>
    <img class="read" src="/img/icons/read.svg" inline>
    <h4>{{ t.footer.follow }}</h4>
    <ul class="ly-tags">
      <li>
        <a
          href="https://es-es.facebook.com/pages/DAG-Asociaci%C3%B3n-Galega-de-Dese%C3%B1adores/149460691764713"
          rel="noopener" target="_blank"
        >
          <img src="/img/icons/facebook.svg" alt="Facebook" inline>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/asociaciondag/"
          rel="noopener" target="_blank"
        >
          <img src="/img/icons/instagram.svg" alt="Instagram" inline>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/user/dagasociacion/videos"
          rel="noopener" target="_blank"
        >
          <img src="/img/icons/youtube.svg" alt="Youtube" inline>
        </a>
      </li>
      <li>
        <a href="https://x.com/asociaciondag" rel="noopener" target="_blank">
          <img src="/img/icons/x.svg" alt="X" inline>
        </a>
      </li>
    </ul>
  </div>
  <ul class="menu-languages ly-tags">
    {{ for code, {name, home} of menu.languages }}
      {{ set alternate = alternates.find((page) => page.lang === code) }}
      <li>
        {{ if alternate }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            rel="alternate"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ alternate.url }}"
          >
            {{ name }}
          </a>
        {{ else }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ home }}"
          >
            {{ name }}
          </a>
        {{ /if }}
      </li>
    {{ /for }}
  </ul>
  
  <!--nav>
    {{ for p of search.pages("footer=true lang=" + lang) }}
      <a href="{{ p.url }}">{{ p.title }}</a>
    {{ /for }}
  </nav -->
</section>
