<article>
  <figure>
    <img
      width="64"
      height="64"
      src="{{ member.avatar }}"
      alt="Retrato de {{ member.name }}"
    >
  </figure>

  <header>
    <h1>
      <a href="{{ member.url }}">
        {{ member.name }}
      </a>
    </h1>
    <p>{{ member.job }}</p>
  </header>
</article>
