<article>
  <a class="member" href="{{ member.url }}">
    <img
      width="200"
      height="200"
      class="member-avatar"
      src="{{ member.avatar }}"
      alt="Avatar de {{ member.name }}"
    >

    <header class="member-header">
      <h1 class="member-name">
        {{ member.name }}
      </h1>
      <p class="member-job">{{ member.job }}</p>
    </header>

    <p class="ly-tags member-tags">
      {{ for tag of member.tags }}
        <span class="member-tag">{{ tag }}</span>
      {{ /for }}
    </p>
  </a>
</article>
