---
menu:
  sections:
    - about
    - asociate
    - members
    - portfolio-1
    - news-1
    - projects
    - calendar
    - articles
  languages:
    gl: 
      name: Galego
      home: /
    es: 
      name: Español
      home: /es/
---

<!-- Logo DAG -->
<a class="ly-main-logo" href="{{ menu.languages[lang].home }}">
  <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
</a>

<nav class="ly-main-menu menu">
  <!-- Menú seccións principais -->
  <ul class="menu-main">
    {{ for id of menu.sections }}
      {{ set page = search.page(`id=${id} lang=${lang}`) }}
      <li class="{{ main_menu == page.main_menu ? 'is-selected' : '' }}">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {{ /for }}
    <li>
      <button type="button" command="show-modal" commandfor="float-menu">Buscar</button>
    </li>
  </ul>

  <!-- Menú idiomas -->
  <ul class="menu-languages">
    {{ for code, {name, home} of menu.languages }}
      {{ set alternate = alternates.find((page) => page.lang === code) }}
      <li>
        {{ if alternate }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            rel="alternate"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ alternate.url }}"
          >
            {{ name }}
          </a>
        {{ else }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ home }}"
          >
            {{ name }}
          </a>
        {{ /if }}
      </li>
    {{ /for }}
  </ul>
</nav>

<dialog id="float-menu">
  <button command="close" commandfor="float-menu">Pechar</button>
  <div class="menu-search" id="search"></div>
</dialog>
