---
menu:
  sections:
    - about
    - projects
    - articles
    - members
    - portfolio-1
    - asociate
    - calendar
    - news-1
    - '#search'
  languages:
    gl:
      name: Galego
      home: /
    es:
      name: Español
      home: /es/
---

<!-- Logo DAG -->
<a class="ly-main-logo" href="{{ menu.languages[lang].home }}">
  <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
</a>

<nav class="ly-main-menu menu">
  <!-- Menú seccións principais -->
  <ul class="menu-main is-desktop">
  {{ for id of menu.sections }}
    {{ if id === "#search" }}
    <li>
      <button type="button" command="show-modal" commandfor="float-menu">Buscar</button>
    </li>
    {{ else }}
      {{ set page = search.page(`id=${id} lang=${lang}`) }}
      <li class="{{ main_menu == page.main_menu ? 'is-selected' : '' }}">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {{ /if }}
  {{ /for }}
  </ul>

  <button class="menu-btn" type="button" command="show-modal" commandfor="float-menu">
    <img src="{{ 'editor/menu_line' |> icon("mingcute") }}" inline>
    Menú
  </button>

  <!-- Menú idiomas -->
  <ul class="menu-languages">
    {{ for code, {name, home} of menu.languages }}
      {{ set alternate = alternates.find((page) => page.lang === code) }}
      <li>
        {{ if alternate }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            rel="alternate"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ alternate.url }}"
          >
            {{ name }}
          </a>
        {{ else }}
          <a
            class="{{ code == lang ? 'is-selected' : '' }}"
            hreflang="{{ code }}"
            lang="{{ code }}"
            href="{{ home }}"
          >
            {{ name }}
          </a>
        {{ /if }}
      </li>
    {{ /for }}
  </ul>
</nav>

<dialog id="float-menu" class="menu-modal">
  <button command="close" commandfor="float-menu" aria-label="Cerrar" class="menu-modal-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>
  </button>

  <a class="menu-modal-logo" href="{{ menu.languages[lang].home }}">
    <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
  </a>

  <!-- Menú seccións principais -->
  <ul class="menu-main is-mobile">
  {{ for id of menu.sections }}
    {{ if id !== "#search" }}
      {{ set page = search.page(`id=${id} lang=${lang}`) }}
      <li class="{{ main_menu == page.main_menu ? 'is-selected' : '' }}">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {{ /if }}
  {{ /for }}
  </ul>

  <div class="menu-search" id="search"></div>
</dialog>
