{{ set img = main && news.body.find((block) => block.type === "image") }}

<article class="news {{ main ? 'is-main' : 'is-secondary' }}">
  {{ if img }}
    <img class="news-image" src="{{ img.image }}">
  {{ /if }}

  <div class="news-content">
    <time class="news-time" datetime='{{ news.date |> date("DATETIME") }}'>
      {{ news.date |> date("HUMAN_DATE") }}
    </time>

    <h1 class="news-title">
      <a href="{{ news.url }}">{{ news.title }}</a>
    </h1>

    <nav class="ly-tags news-tags">
      {{ for tag of news.tags }}
        <a class="filter is-small" href="{{ tag }}">{{ tag }}</a>
      {{ /for }}
    </nav>

    <div class="news-intro">
      {{ news.intro |> md }}
    </div>
  </div>
</article>
