<article>
  <header>
    <nav>
      {{ for tag of news.tags }}
        <a href="/tags/{{ tag }}">{{ tag }}</a>
      {{ /for }}
    </nav>

    <time datetime='{{ news.date |> date("DATETIME") }}'>
      {{ news.date |> date("HUMAN_DATE") }}
    </time>

    <h1>
      <a href="{{ news.url }}">{{ news.title }}</a>
    </h1>
  </header>
</article>
