<article>
  <a class="portfolio" href="{{ portfolio.url }}">
    <img class="portfolio-image" src="{{ portfolio.cover }}" width="420" alt="">

    <header class="portfolio-header">
      <h1 class="portfolio-title">{{ portfolio.title }}</h1>

      <p class="portfolio-description">
        {{ if portfolio.year || portfolio.studio }}
          © {{ if portfolio.year }}{{ portfolio.year }}{{ /if }}
          {{ if portfolio.studio }}<strong> {{ portfolio.studio }}</strong>
          {{ /if }}
          <br>{{ if portfolio.client }}{{ portfolio.client }}{{ /if }}
        {{ else if portfolio.client }}
          {{ portfolio.client }}
        {{ /if }}
      </p>
    </header>

    {{ if portfolio.tags?.length }}
      <ul class="portfolio-tags ly-tags">
        {{ for tag of portfolio.tags }}
          <li class="filter is-small no-border">{{ tag }}</li>
        {{ /for }}
      </ul>
    {{ /if }}
  </a>
</article>
