<article class="portfolio">
  <a href="{{ portfolio.url }}">
    <header class="portfolio-header">
      <h1>{{ portfolio.title }}</h1>

      {{ if portfolio.tags?.length }}
        <ul>
          {{ for tag of portfolio.tags }}
            <li>{{ tag }}</li>
          {{ /for }}
        </ul>
      {{ /if }}

      {{ if portfolio.info }}
        <dl>
          {{ for item of portfolio.info }}
            <dt>{{ item.name }}</dt>
            <dd>{{ item.value }}</dd>
          {{ /for }}
        </dl>
      {{ /if }}

      <ul class="portfolio-authors">
        {{ for member of portfolio.members }}
          <li class="member-avatar">
            <span>{{ member.name }}</span>
          </li>
        {{ /for }}
      </ul>
    </header>

    <figure class="portfolio-image">
      <img src="{{ portfolio.cover }}" width="420" alt="">
    </figure>
  </a>
</article>
