<article class="project">
  {{ set mainUrl = project.links?.[0] }}
  <a
    class="project-image"
    href="{{ mainUrl?.url }}"
    title="{{ mainUrl?.text }}"
  >
    <img width="420" height="200" src="{{ project.cover }}">
  </a>

  <header class="project-header">
    <h1 class="project-title">{{ project.title }}</h1>
    <div class="project-description">
      {{ project.description |> md }}
    </div>
  </header>

  <nav class="project-links">
    <ul>
      {{ for link of project.links }}
        <li><a href="{{ link.url }}">{{ link.text }}</a></li>
      {{ /for }}
    </ul>
  </nav>
</article>
