<!-- Cookies -->
<div class="cookies-advise is-hidden">
    {{ t.cookies.text | md | safe }}
    <p><button id="cookies_accept">{{ t.cookies.accept }}</button></p>
</div>

<script src="/js/main.js"></script>
{% for src in js %}
<script src="{{ src }}"></script>
{% endfor %}
