@import "../variables.css";

/* fondo */
.promo-content {
    background-color: #ffffffe7;
    max-width: 800px;
    padding: 1rem;

    @media (--tablet) {
        padding: 2rem;
    }
}
.promo-feed-2019 {
	--background: #F8C7C2;
	--yellow: #FFF487;
	--black: #1D1D1B;

    background-image: url('/assets/projects/feed-2019/img/bg.svg');
	background-color: var(--background);
	color: var(--black);
	padding: 5rem 1rem 1rem;

	& .button-normal{
		background-color: var(--black);
		color: white;
		vertical-align: middle;

		&:hover{
			background-color: white;
			color: var(--black);
		}
	}

	& .promo-header {
		text-align: left;
		position: relative;
		z-index: 2;
	}

    & .promo-date {
        font-weight: bold;
        position: relative;
        margin: 2em 0 0 0;
        padding-top: 2em;

        &::before {
            content: "";
            display: block;
            width: 2em;
            border-top: 4px solid;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

	& .page-header:not(.is-sticky) {
		color: var(--black);
		& path {
			fill: var(--black);
		}
	}

	& .promo-titulo {
		text-transform: uppercase;
        font-size: 2em;
        letter-spacing: -0.03em;
        margin: 0;
	}

	& .promo-participantes {
		list-style: none;
		margin: 2em auto 0;
		font-size: var(--fs-26);
		line-height: 1;
		font-weight: var(--fw-normal);
		position: relative;
		z-index: 2;
        padding: 0;
        font-size: 1rem;

		& > li {
			display: inline-block;
			padding: .5rem;
		}
	}

	@media (--mobile-landscape) {
		& .promo-content {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		& .promo-participantes {
			margin: 0;
		}
		& .promo-header {
			margin-right: 4rem;
            flex: 0 0 auto;
		}
	}
	@media (--tablet-landscape) {
		& .promo-participantes {
			font-size: 1.4rem;

            & > li {
                padding: 1rem;
            }
		}
	}
}
