<figure class="section section-image">
  <picture>
    <img src="{{ block.image }}" alt="{{ block.alt }}">
  </picture>

  {{ if block.text }}
    <figcaption>
      {{ block.text |> md }}
    </figcaption>
  {{ /if }}
</figure>
