/**
 * common.css
 *
 * INFORMACION
 * Estilos xenericos para usar na web - http://asociaciondag.org.
 *
 * AUTORES
 * Oscar Otero e Segundo Fdez no ano 2015.
 * http://oscarotero.com | http://segundofdez.com
 *
 * FERRAMENTAS
 * Stylecow ............... http://stylecow.github.io/
 * Desenvolvido por Oscar Otero.
 *
 * XENERICO
 * normalize.css .......... http://necolas.github.io/normalize.css
 * Desenvolvido por Nicolas Gallagher coa axuda de Jonathan Neal.
 *
 * FONTES
 * isaac-font.css ......... Importa a tipografia Isaac font.
 * Deseñada por Marcos Dopico (http://maistypes.com).
 *
 */

/*
 * Contido xeral
 * -----------------------------------------------------------------------------
*/

html {
	font-family: var(--ff-normal);
	background-color: var(--black-8);
	color: var(--color-main);
	padding-top: 58px;
	scroll-padding-top: 5rem;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

strong {
	font-weight: var(--fw-bold);
}

.ia-16 {
	width: 32px;
	height: 32px;
	display: block;
	vertical-align: middle;

	& line,
	& circle {
		stroke: var(--color-main);
		fill: none;
		vector-effect: non-scaling-stroke;
		transition: all 0.5s;
		stroke-width: 4px;
		stroke-linecap: round;
	}
}