/**
 * variables.css
 *
 * INFORMACION
 * Variables xenericas para usar na web - http://asociaciondag.org.
 *
 * AUTORES
 * Oscar Otero e Segundo Fdez no ano 2015.
 * http://oscarotero.com | http://segundofdez.com
 *
 * FERRAMENTAS
 * Stylecow ............... http://stylecow.github.io/
 * Desenvolvido por Oscar Otero.
 *
 * XENERICO
 * normalize.css .......... http://necolas.github.io/normalize.css
 * Desenvolvido por Nicolas Gallagher coa axuda de Jonathan Neal.
 *
 * FONTES
 * isaac-font.css ......... Importa a tipografia Isaac font.
 * Deseñada por Marcos Dopico (http://maistypes.com).
 *
 */
:root {
    --color-error: #E60016;
	/* cor dag principal */
    --color-main: #363636;

    --color-dark: #5E5E5E;

    /* cor dag gris medio */
    --color-medium: #757575;

	/* cor dag light */
    --color-light: #36363633;
    --color-15: #E1E1E1;

    --black-10a: #36363622;
    --black-10: #EAEAEA;
    --black-8: #EFEFEF;
    --black-5: #F5F5F5;
    --black-5a: #36363611;

    /* cor dag */
    --color-dag: var(--color-main);

    /* font-size */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.2rem;
    --fs-26: 1.625rem;
    --fs-32: 2rem;
    --fs-48: 3rem;
    --fs-60: 3.8rem;

    /* font-weight */
    --fw-black: 700;
    --fw-bold: 600;
    --fw-normal: 500;
    --fw-light: 400;

    /* font-family */
    --ff-normal: Isaac, Helvetica, Arial, sans-serif;
    --ff-display: IsaacDisplay, Helvetica, Arial, sans-serif;

    /* font-feature-settings */
    --ffs-alt: "kern" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;

    /* font-icons */
    --ico-right: "\25b6";
    --ico-left: "\25c0";
    --ico-up: "\25b2";
    --ico-down: "\25bc";
}

/* Custom medias */
@custom-media --mobile (min-width: 320px);
@custom-media --until-mobile-landscape (max-width: 479px);
@custom-media --mobile-landscape (min-width: 480px);
@custom-media --until-tablet (max-width: 755px);
@custom-media --tablet (min-width: 756px);
@custom-media --until-tablet-landscape (min-width: 1023px);
@custom-media --tablet-landscape (min-width: 1024px);
@custom-media --until-desktop (min-width: 1439px);
@custom-media --desktop (min-width: 1440px);

