/**
 * page-portfolios.css
 *
 * INFORMACION
 * Estilos para a páxina de portfolios - http://asociaciondag.org.
 *
 * AUTORES
 * Oscar Otero e Segundo Fdez no ano 2015.
 * http://oscarotero.com | http://segundofdez.com
 *
 * FERRAMENTAS
 * Stylecow ............... http://stylecow.github.io/
 * Desenvolvido por Oscar Otero.
 *
 * XENERICO
 * normalize.css .......... http://necolas.github.io/normalize.css
 * Desenvolvido por Nicolas Gallagher coa axuda de Jonathan Neal.
 *
 * FONTES
 * isaac-font.css ......... Importa a tipografia Isaac font.
 * Deseñada por Marcos Dopico (http://maistypes.com).
 *
 */

@import "../variables.css";

/* Cor de fondo */
.page-content {
	background: var(--color-main);
	color: white;
}

.buttons-tabs .button.is-selected {
	background: var(--color-main);
	color: var(--color-15);
}


.page-content-bar {
	border-bottom-color: var(--black-5);
}

