---
layout: null
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="gl">
    <head>
        <title>FEET</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Exposicion FEET" />
        <meta name="keywords" content="noticias, feet, exposicion, novas, blog, novedades, deseño galego, diseñadores, galicia ,galiza ,deseñadores, asociacion, dag" />
        <link rel="stylesheet" type="text/css" href="/feet-2010/styles.css">
    </head>

    <body>
        <!-- PAGE-WRAPPER -->
        <div id="page-wrapper">
            <!-- HEADER -->
            <div id="header" class="clearfix">

                <div class="module9">
                    <h1> <a href="index.php">Feet 2010<br />Foro de edición e tipografía</a></h1>
                    <p class="description"> 2, 3, 4, 16, 17 e 18 de decembro <br /> <a href="http://casadascampas.uvigo.es/" target="_Blank">Casa das Campás</a><br /> Pontevedra.</p>

                    <p class="logo imageback">
                        FEET
                    </p>
                </div>
            </div>
            <!-- / HEADER -->


            <!-- / CONTENT -->
            <div id="content" class="clear">

                <!-- INFO -->
                <div class="info clearfix">
                    <h2>Feet - Foro de edición e tipografía, 2010</h2>
                    <div class="module6 marginright20">
                        <p>
                            As diferentes estratexias e soportes utilizados hoxe en día no eido da edición servirán de base para a reflexión neste foro, que se desenvolverá entre os días 2, 3, 4, 16, 17 e 18 de decembro na Casa das Campás en Pontevedra.                        </p>

                        <p>
                            Organizado pola Asociación Galega de Deseñadores, <strong>feet 2010 foro de edición e tipografía</strong>, pretende continuar coas reflexións, discusións e liñas de investigación abertas sobre este tema desde plataformas distintas como o Proxecto-Edición (realizado en Galicia entre 2006 e 2008), o Werkplaats Typografie (en Holanda), Rumbos de Edición (na Arxentina) ou a oficina do cego (en Portugal).                        </p>

                        <p>
                            O obxectivo de todos estes eventos foi crear redes de traballo e investigación sobre publicacións que se estaban a desenvolver no campo da arte, do deseño e da tipografía. Con este mesmo ánimo encaramos este foro en Pontevedra, porque a edición é un tema de plena actualidade no que se están a producir cada vez máis novidades.                        </p>

                        <p>
                            A información e os medios están cambiando continuamente. O que onte era ficción hoxe queda obsoleto, e os e-books son tan reais coma o papel, cunha potencialidade inmensa como arquivo.
                        </p>


                    </div>
                    <div class="module6">
                        <p>
                            Sen dúbida ningunha, convertéronse no medio de documentación por excelencia. Mais, no que respecta ao goce dos sentidos e ao pracer, resulta difícil competir coa simplicidade dunha folla de papel. Un soporte, que a pesar das enormes transformacións tecnolóxicas, non mudou tanto en relación coas producións de Gutenberg.                        </p>

                        <p>
                            Neste momento, a edición –contra todas as previsións e agoiros pesimistas– está máis vixente ca nunca, e quizais nunca antes se lle prestou tanta atención a cada un dos elementos implicados no proceso: os contidos, a tipografía, os materiais, a forma, o tacto, o cheiro... Acaso somos máis conscientes da edición en papel?
                        </p>

                        <p>
                            Nós investimos horas, ilusións e esforzos en organizar este evento. O noso traballo está feito. Agora tócavos a todos vós aproveitar esta plataforma de reflexión e intercambio participando nela.
                        </p>
                        <p>
                            Enmárcase Feet no proxecto Creativa, programa cultural interdisciplinar levado a cabo conxuntamente pola Axencia Galega das Industrias Culturais e a Direccão Regional de Cultura do Norte co financiamento dos fondos FEDER da UE, e pertencente ao Programa Europeo de Cooperación Transfronteiriza España-Portugal.
                        </p>
                    </div>
                </div>
                <!-- / INFO -->

                <h2 class="hide">Obras seleccionadas</h2>
                <div class="owl-carousel owl-theme">
                    <div class="carousel-item">
                        <img class="expo"  src="/feet-2010/media/pub-1.jpg" alt="Manual de supervivencia para los días del gran desastre"  border="0" />
                        <h3>Manual de supervivencia para los días del gran desastre</h3>
                        <p>Clase Turista<br />Bos Aires<br />Libros</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo"  src="/feet-2010/media/pub-2.jpg" alt="Hatuchay"  border="0" />
                        <h3>Hatuchay</h3>
                        <p>Editorial VOX <br />A Arxentina <br />Libros</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo"  src="/feet-2010/media/pub-3.jpg" alt="La banda del 100 pies"  border="0" />
                        <h3>La banda del 100 pies</h3>
                        <p>Elo&iacute;sa Cartonera<br />A Arxentina<br />Libros</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo"  src="/feet-2010/media/pub-4.jpg" alt="Sen título"  border="0" />
                        <h3>Sen título</h3>
                        <p>Asociaci&oacute;n Ideasdosapoconcho <br />Galicia<br />Libro obxecto de tea cosida
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-5.jpg" alt="(Desmontar la) SOBERRRBIA...!!!" border="0">
                        <h3>(Desmontar la) SOBERRRBIA...!!!</h3>
                        <p>María Prada<br>Galicia<br>Libro</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-6.jpg" alt="fanzinecolores:  #AZUL" border="0">
                        <h3>fanzinecolores:  #AZUL</h3>
                        <p>Noemí Díaz Patiño<br>Eva Morell<br>Galicia <br>fanzine</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-7.jpg" alt="Duas linhas" border="0">
                        <h3>Duas linhas</h3>
                        <p>Pedro Campos e Nuno Louro <br>Libro e exposición</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-8.jpg" alt="Noente paradise" border="0">
                        <h3>Noente paradise</h3>
                        <p>Através editora<br>Galicia<br>Libro e CD</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-9.jpg" alt="Braço de Ferro - arte &amp; design" border="0">
                        <h3>Braço de Ferro - arte &amp; design</h3>
                        <p>Braço de Ferro<br>Porto<br>Libros</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-10.jpg" alt="Influences" border="0">
                        <h3>Influences</h3>
                        <p>Influences <br />Anna Gerber e Anja Lutz</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-11.jpg" alt="A land without people for a people without land " border="0">
                        <h3>A land without people for a people without land</h3>
                        <p>Nuno Coelho e Adam Kershaw <br>Porto<br>Exposición de carteis e libro</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-12.jpg" alt="Entrecruzar 1, 2 e 3" border="0">
                        <h3>Entrecruzar 1, 2 e 3</h3>
                        <p>Varios autores/as <br>Santiago de Compostela <br>Diferentes&nbsp; formatos</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-13.jpg" alt="La más bella" border="0">
                        <h3>La más bella</h3>
                        <p>Diego Ortiz&nbsp; e&nbsp; Pepe Murciego<br>Madrid<br>Diferentes&nbsp; formatos</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-14.jpg" alt="Homes sentados" border="0">
                        <h3>Homes sentados</h3>
                        <p>Carlos&nbsp; Rodríguez-Méndez<br>Madrid<br>Xornal</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-15.jpg" alt="Casas gallegas" border="0">
                        <h3>Casas gallegas</h3>
                        <p>Carlos  Rodríguez-Méndez<br>Madrid<br>Xornal</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-16.jpg" alt="Isilda ou a mudez dos códigos de barras" border="0">
                        <h3>Isilda ou a mudez dos códigos de barras</h3>
                        <p>Oficina do Cego<br>Lisboa<br>Libro</p>
                    </div>

                    <div class="carousel-item">
                        <img class="expo" src="/feet-2010/media/pub-17.jpg" alt="Mental movies" border="0">
                        <h3>Mental movies</h3>
                        <p>Editorial Clase Turista<br>Bos Aires, A Arxentina, 2010<br>Carteis e audio</p>
                    </div>
                </div>
                <!-- END CAROUSEL -->


                <!-- PARTICIPA -->
                <br />
                <br />
                 <!-- INFO -->
                <div class="info">

                    <h2>Participa</h2>


                    <p><strong>Ata o dia 28 de novembro.</strong></p>
                    <p>
                        Se editaches unha publicación especial no campo da arte, do deseño ou da tipografía, en calquera formato ou material, podes enviala á DAG e formar parte do feet 2010. Do 2 ao 18 expoñeranse na Casa das Campás en Pontevedra.
                    </p>

                </div>
                <!-- / INFO -->
                <div class="module6 marginright20 marginbottom20 participa">
                    <h3>Na exposición:</h3>

                    <h4>Desexas presentar o teu proxecto?</h4>
                    <ol>
                        <li>
                            Envíanos un correo a <a href="mailto:info@asociaciondag.org">info@asociaciondag.org</a> coa seguinte información:
                            Nome, enderezo, teléfono, correo electrónico e unha pequena biografía persoal de 10 liñas como máximo. Dentro do apartado das características da obra inclúe: o título, o n.º de páxinas, o tipo de encadernación, unha breve descrición desta (10 liñas aproximadamente) e tamén dúas fotos (portada e interior)
                        </li>
                        <li>
                            Remítenos a publicación ao seguinte enderezo:<address><strong>Apartado de Correos 2131 - 15780 Santiago de Compostela</strong></address>
                        </li>
                        <li>
                            Imprime o texto que aparece a continuación e asínao como confirmación de que aceptas todos os termos:
                        </li>
                    </ol>
                    <p>
                        A mostra Feet é un proxecto non comercial que se desenvolverá na Casa das Campás en Pontevedra do día 2 ao 18 de decembro.</p>
                    <p>
                        Feet non se fai cargo dos portes de envío nin de retorno. No caso de renunciar á devolución da obra, os autores dan o seu consentimento para que os libros pasen a formar parte da Biblioteca da DAG.
                    </p>
                    <p>
                        A organización non se responsabiliza dos posibles danos causados ás obras durante a exposición ou o envío, nin, se se dese o caso, do roubo.
                    </p>
                </div>
                <div class="module6  participa">
                    <h3>Nos talleres:</h3>
                    <h4>Inscríbete e participa!</h4>
                    <p>
                        Todas as actividades do foro son libres e gratuítas, pero para participar nos talleres requírese preinscrición.
                    </p>
                    <p>
                        Envíanos un breve currículo xunto cunha pequena explicación dos motivos polos que queres participar a <a href="mailto:info@asociaciondag.org">info@asociaciondag.org</a>:
                    </p>

                    <p>
                        Taller de edición de <strong>Pepe Murciego e Diego Ortiz de <a href="http://www.lamasbella.org/" target="_blank">La Más Bella</a></strong> que impartirán os días 2, 3 e 4 de decembro.
                    </p>
                    <p>
                        Taller de tipografía, co deseñador catalán <a href="http://www.andreubalius.com"><strong>Andreu Balius</strong></a> como mestre de cerimonia, e que se desenvolverá ao longo do 16, 17 e 18 de decembro.

                    </p>
                    <p class="emphasized">As prazas son limitadas. </p>

                </div>
                <!-- /PARTICIPA -->

                <!-- PROGRAMA -->
                <div class="info clear">
                    <h2>Programa</h2>
                    <p>
                        Seis días ao longo dos que se desenvolverán obradoiros, presentacións, debates, performance... A Casa das Campás converterase nun escaparate de aventuras editoriais vangardistas e tamén nun espazo para compartir experiencias sobre proxectos editoriais especiais e libros de artista.
                    </p>
                    <p>
                        Só se precisa preinscrición nos obradoiros. As mesas e presentacións están abertas a todo o público. Sodes benvidos!
                    </p>
                </div>

                <div class="module6 marginright20 programa">
                    <h3>Foro edición</h3>
                    <h4>Xoves, 2 de decembro </h4>
                    <p>11.00 h: Apertura do feet</p>
                    <p>11.15 – 20.00 h: Taller de edición e xestión de revistas de arte experimentais con <a href="http://www.lamasbella.org/">La Más Bella</a></p>
                    <br />
                    <h4>Venres, 3 de decembro </h4>
                    <p>10.00 – 19.00 h: Taller de edición e xestión de revistas de arte experimentais con <a href="http://www.lamasbella.org/">La Más Bella</a></p>
                    <p>19.30 h: Nuno Coelho e Adam Kershaw presentarán a súa obra: </p>
                    <p><blockquote> Uma terra sem gente para gente sem terra - Um livro de colorir sobre a Palestina</blockquote> </p>

                    <br />

                    <h4>Sábado, 4 de decembro</h4>
                    <p>11.00 h: Mesa redonda “A edición como campo aberto de expresión”</p>
                    <p>Participarán: Manuel Bragado, Tati Mancebo, Pepe Barro, Nuno Coelho, Ángel Cerviño, Isabel Carvalho e Pedro Nora (Braço de Ferro)</p>
                    <p>13:00 h: Presentación performática de Pepe Murciego sobre a edición realizada polos participantes no taller de <a href="http://www.lamasbella.org/">La Más Bella</a></p>
                    <p>Peche do taller e aperitivo</p>

                    <br />
                </div>
                <div class="module6 programa">
                    <h3>Foro tipografía</h3>
                    <h4>Xoves, 16 de decembro</h4>
                    <p>11.00 – 19.00 h: Introdución á tipografía con  <a href="http://www.andreubalius.com/">Andreu Balius</a></p>
                    <p>19.30 h: Conferencia de Marcos Dopico </p>
                    <p><blockquote>Aínda que chova... deseña. Deseño gráfico en Galicia na era global</blockquote> </p>
                    <br />
                    <h4>Venres, 17 de decembro</h4>
                    <p>9.30 – 19.00 h: Introdución á tipografía con <a href="http://www.andreubalius.com/">Andreu Balius</a></p>
                    <p>19.30 h: Conferencia de Dino dos Santos</p>
                    <p><blockquote>DSType Foundry: Deseño de tipos para xornais</blockquote> </p>
                    <br />
                    <h4>Sábado, 18 de decembro</h4>
                    <p>10.00 – 14.00 h: Introdución á tipografía con Andreu Balius</p>
                    <p>
                                                Do 2 ao 18 de decembro poderase visitar na Casa das Campás unha exposición con obras de Braço de Ferro, Editorial Clase Turista, La Más Bella, Shift!, Oficina do Cego, entre outras editoras.

                    </p>
                    <p>
A mostra feet permanecerá aberta de luns a sábado en horario de 18.00 - 21.00 h.
                    </p>
                    <p>



                    </p>
                </div>

























                <!-- /PROGRAMA -->

            </div>
            <!-- / CONTENT -->

            <!-- FOOTER -->
            <hr />
            <div id="footer" class="clearfix">
                <div class="module7">
                    <div class="module2 marginright20">
                        <h4>Organiza:</h4>
                        <p><a href="http://www.asociaciondag.org">
                                <img src="/feet-2010/media/img/logo-dag.gif" width="100" height="33" alt="logo-dag"/>
                                <span class="hide">DAG- Asociacion Galega de Deseñadores</span></a></p>
                    </div>
                    <div class="module3">
                        <h4>Colabora:</h4>
                        <p>
                        <a href="http://www.uvigo.es/">
                            <img class="floatl marginright20  margintop10" src="/feet-2010/media/img/logo-uvigo.gif" width="100" height="33" alt="logo-uvigo"/>

                            <span class="hide">Universida de Vigo</span></a>

                        <a href="http://casadascampas.uvigo.es//">
                            <img src="/feet-2010/media/img/logo-casa-das-campas.gif" width="40" height="37" alt="logo-uvigo"/>

                            <span class="hide">Casa das Campás</span></a>
                        </p>

                    </div>

                    <h4 class="clear">Patrocina:</h4>

                    <div class="module2">
                        <p><a href="http://www.poctep.eu/">
                                <img src="/feet-2010/media/img/logo-coopera.gif" width="120" height="36" alt="logo-dag"/>
                                <span class="hide">Cooperación transfonteriza
                                </span></a></p>
                        <p class="margintop15"><a href="http://www.agadic.info/">
                                <img src="/feet-2010/media/img/logo-agadic.gif" width="140" height="42" alt="logo-dag"/>
                                <span class="hide">Agadic</span></a></p>
                    </div>

                    <div class="module2 ">
                        <p><a href="http://ec.europa.eu/">
                                <img src="/feet-2010/media/img/logo-feder.gif" width="125" height="39" alt="logo-dag"/>
                                <span class="hide">Feder</span></a></p>
                                <p class="margintop15"><a href="http://www.xacobeo.es">
                                <img src="/feet-2010/media/img/logo-xacobeo.gif" width="125" height="39" alt="logo-dag"/>
                                <span class="hide">Xacobeo Galicia</span></a></p>
                    </div>

                    <div>
                        <p><a href="http://www.creativacultural.com/">
                                <img src="/feet-2010/media/img/logo-creativa.gif" width="110" height="36" alt="logo-dag"/>
                                <span class="hide">Creativa</span></a></p>


                        <div class="module1 marginright20"><p><a href="http://www.portaldacultura.gov.pt/">
                                    <img src="/feet-2010/media/img/logo-cultura.gif" width="120" height="39" alt="logo-dag"/>
                                    <span class="hide">Ministerio da Cultura</span></a></p></div>

                    <div class="module2 marginleft20">
                        <p><a href="http://www.xunta.es">
                                <img src="/feet-2010/media/img/logo-xunta.gif" width="187" height="60" alt="logo-dag"/>
                                <span class="hide">Xunta de Galicia</span></a></p>
                    </div>
                </div>
            </div>
            <!-- / FOOTER -->

        </div>
        <!-- / PAGE-WRAPPER -->
    </body>
</html>
