---
layout: layouts/base.njk
---

<style>
	.article-permalink .article-header {
		background-image: url("{{ cover }}");
	}
</style>

<article class="article article-permalink is-blur">
	<header class="article-header wrapper-narrow">
		<h1>{{ title }}</h1>
		<p class="article-author">Por {{ author }}</p>

		<div class="share">
			<a class="share-twitter ico-twitter" href="<?= $share->twitter->shareUrl ?>" target="_blank">
				<img src="/img/icons/twitter.svg" alt="Twitter" inline>
        <span>Twitter</span>
			</a>
			<a class="share-facebook ico-facebook" href="<?= $share->facebook->shareUrl ?>" target="_blank">
				<img src="/img/icons/facebook.svg" alt="Facebook" inline>
        <span>Facebook</span>
			</a>
		</div>
	</header>

	<div class="article-body">
		{% for block in body %}
      {% include "blocks/" + block.type + ".njk" %}
    {% endfor %}
	</div>
</article>
