---
layout: layouts/base.vto
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p>Por {{ author }}</p>
  </header>

  <div>
    {{ for block of body }}
      {{ await comp[block.type](block) }}
    {{ /for }}
  </div>
</article>
