---
layout: layouts/base.vto
---
{{ set articles = search.pages(`type=article lang=${lang}`, "date=desc") }}

{{ for article of articles }}
  {{ include "templates/article-list.vto" { article } }}
{{ /for }}
