<!doctype html>

<html class="no-js" lang="{{ lang }}">
    <head>
        <link rel="alternate" type="application/rss+xml" title="Noticias RSS" href="/gl/novas/rss/">

        <link rel="stylesheet" href="/css/main.css">
        {% for href in css %}
        <link rel="stylesheet" href="{{ href }}">
        {% endfor %}
    </head>

    <body>
        <header class="page-header wrapper" id="main-header">
          <a href="/{{ lang }}/" class="page-logo">
            <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
          </a>

          <nav class="page-menu">
              <span class="page-menu-button ui-menu-mobile">
                  Menu
              </span>

              <ul>
                  {% set page = search.page("id=about lang=" + lang) %}
                  <li{% if main_menu == "about" %} class="is-selected"{% endif %}><a href="{{ page.url }}">{{ t.menu.about }}</a></li>
                  
                  {% set page = search.page("id=news lang=" + lang) %}
                  <li{% if main_menu == "news" %} class="is-selected"{% endif %}><a href="{{ page.url }}">{{ t.menu.news }}</a></li>
                  <li{% if main_menu == "projects" %} class="is-selected"{% endif %}><a href="/projects/">{{ t.menu.projects }}</a></li>

                  {% set page = search.page("id=members lang=" + lang) %}
                  <li{% if main_menu == "members" %} class="is-selected"{% endif %}><a href="{{ page.url }}">{{ t.menu.members }}</a></li>
                  <li><a href="http://foro.dag.gal">{{ t.menu.forum }}</a></li>

                  <li class="page-menu-lang ui-menu-lang">
                      <ul>
                          <li{% if lang == "gl" %} class="is-active"{% endif %}><a href="/gl/">GL</a></li>
                          <li{% if lang == "es" %} class="is-active"{% endif %}><a href="/es/">ES</a></li>
                      </ul>
                  </li>
              </ul>
          </nav>
      </header>

        <div class="page-content">
            {{ content | safe }}
        </div>

        <!-- FOOTER -->
        <footer class="page-footer wrapper">
            <div class="page-footer-content">
                <div class="footer-logo">
                    <span class="page-logo">
                        <img src="/img/icons/dag.svg" alt="DAG" inline>
                        <span>{{ t.dag }}</span>
                    </span>
                </div>
                <div class="footer-info">
                    <address>
                        {{ t.footer.address | md | safe }}
                    </address>
                </div>
                <div class="footer-contact">
                    <h4>{{ t.footer.follow }}</h4>

                    <ul class="social">
                        <li><a class="button ico-twitter" href="https://twitter.com/asociaciondag">
                            <img src="/img/icons/twitter.svg" alt="Twitter" inline>
                        </a></li>
                        <li><a class="button ico-facebook" href="https://es-es.facebook.com/pages/DAG-Asociaci%C3%B3n-Galega-de-Dese%C3%B1adores/149460691764713">
                            <img src="/img/icons/facebook.svg" alt="Facebook" inline>
                        </a></li>
                        <li><a class="button ico-instagram" href="https://www.instagram.com/asociaciondag/">
                            <img src="/img/icons/instagram.svg" alt="Instagram" inline>
                        </a></li>
                        <li><a class="button ico-youtube" href="https://www.youtube.com/user/dagasociacion/videos">
                            <img src="/img/icons/youtube.svg" alt="Youtube" inline>
                        </a></li>
                    </ul>

                    <div class="footer-read">
                        <h4>{{ t.footer.read_member }}</h4>
                        <a href="http://www.designread.es">
                            <img src="/img/icons/read.svg" alt="Read" inline>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="page-footer-menu">
                <a href="https://foro.dag.gal">{{ t.footer.forum }}</a>

                {% for p in search.pages("footer=true lang=" + lang) %}
                <a href="{{ p.url }}">{{ p.title }}</a>
                {% endfor %}

                <a href="/rss/">{{ t.footer.rss }}</a>
            </nav>
        </footer>
        <!-- FOOTER -->

        <!-- Cookies -->
        <div class="cookies-advise is-hidden">
            {{ t.cookies.text | md | safe }}
            <p><button id="cookies_accept">{{ t.cookies.accept }}</button></p>
        </div>

        <script src="/js/main.js"></script>
        {% for src in js %}
        <script src="{{ src }}"></script>
        {% endfor %}

        {# <?php if ($this->jsModule()): ?>
        <script src="<?= $app->getUri('assets/js/'.$this->jsModule().'.js') ?>?=v1"></script>
        <?php endif ?> #}
    </body>
</html>

