<!DOCTYPE html>

<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    {{ include "templates/navbar.vto" }}

    <main>
      {{ content }}
    </main>

    <!-- FOOTER -->
    <footer>
      <address>
        {{ t.footer.address |> md }}
      </address>

      <div>
        <h4>{{ t.footer.follow }}</h4>

        <ul class="social">
          <li>
            <a href="https://x.com/asociaciondag">
              X
            </a>
          </li>
          <li>
            <a
              href="https://es-es.facebook.com/pages/DAG-Asociaci%C3%B3n-Galega-de-Dese%C3%B1adores/149460691764713"
            >
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/asociaciondag/">
              Instagram
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/dagasociacion/videos">
              Youtube
            </a>
          </li>
          <li>
            <a href="http://www.designread.es">
              {{ t.footer.read_member }}
            </a>
          </li>
        </ul>
      </div>

      <nav>
        {{ for p of search.pages("footer=true lang=" + lang) }}
          <a href="{{ p.url }}">{{ p.title }}</a>
        {{ /for }}
      </nav>
    </footer>

    {{ include "templates/scripts.vto" }}
  </body>
</html>
