<!DOCTYPE html>

<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body class="ly-main">
    {{ include "templates/navbar.vto" }}

    <main class="ly-main-main">
      {{ content }}
    </main>

    <!-- FOOTER -->
    <footer class="ly-main-footer">
      {{ include "templates/footer.vto" }}
    </footer>

    {{ include "templates/scripts.vto" }}
  </body>
</html>
