---
layout: ./base.njk
css: [/css/members.css]
---

<div class="wrapper">
	<nav class="buttons-tabs">
    {% set p = search.page("id=members lang=" + lang) %}
		<a class="button is-selected" href="{{ p.url }}">{{ t.members.members }}</a>

    {% set p = search.page("id=portfolio lang=" + lang) %}
		<a class="button" href="{{ p.url }}">{{ t.members.projects }}</a>
	</nav>

  <ul class="buttons-tags page-content-bar">
		<li {% if not tag %} class="is-selected"{% endif %}>
      {% set p = search.page("id=members lang=" + lang) %}
			<a href="{{ p.url }}">{{ t.members.all_tags }}</a>
		</li>

    {% for p in search.pages("type=members_tag lang=" + lang, "tag=asc") %}
		<li {% if p.url == url %} class="is-selected"{% endif %}>
			<a href="{{ p.url }}">{{ p.tag }}</a>
		</li>
    {% endfor %}
	</ul>

	<div class="ly-1-2-3 members-grid">
    {% if tag %}
    {% set members = search.pages("type=member lang=" + lang + " '" + tag + "'", "name=asc") %}
    {% else %}
    {% set members = search.pages("type=member lang=" + lang, "name=asc") %}
    {% endif %}

    {% for member in members %}
      <article class="member member-list">
        <figure class="member-avatar">
          <img src="<?= Img::getUri($member->avatar, 'resizeCrop,64,64'); ?>" alt="">
        </figure>

        <header class="member-header">
          <h1>
            <a href="{{ member.url }}">
              {{ member.name }}
            </a>
          </h1>
          <p>{{ member.job }}</p>
        </header>
      </article>
    {% endfor %}
	</div>
</div>
