---
layout: ./base.vto
---

<header class="ly-main-header header">
  <h1 class="header-title">{{ title }}</h1>

  <div class="header-description">
    {{ description |> md }}
  </div>

  <div class="header-filter ly-tags">
    {{ for tag of search.values("tags", "type=member lang=" + lang).sort() }}
      {{
        set urlTag = lang ===
            "gl"
          ? `/socios/${tag}/`
          : `/es/socios/${tag}/`
        |> slugify
      }}
      <a
        class='filter {{tag === currentTag ? "is-selected" : ""}}'
        href="{{urlTag}}"
      >{{ tag }}</a>
    {{ /for }}
  </div>
</header>

<div class="ly-grid members-grid top-2xl">
  {{ for member of results }}
    {{ include "templates/member-list.vto" { member } }}
  {{ /for }}
</div>
