---
layout: layouts/base.njk
---

<div class="wrapper">
	<nav class="buttons-tabs">
    {% set p = search.page("id=members lang=" + lang) %}
		<a class="button is-selected" href="{{ p.url }}">{{ t.members.members }}</a>

    {% set p = search.page("id=portfolio lang=" + lang) %}
		<a class="button" href="{{ p.url }}">{{ t.members.projects }}</a>
	</nav>
</div>

<article class="wrapper-narrow member member-permalink">
	<figure class="member-avatar">
		<img src="{{ avatarBig or avatar }}" width="128" height="128" alt="">
	</figure>

	<header class="member-header">
		<h1>{{ name }}</h1>
		<p>{{ job }}</p>
	</header>

	<address class="member-address">
		{{ contact | md | safe }}

		{% if links %}
      <ul>
        {% for link in links %}  
        <li>
          <a class="button-secondary member-link" href="{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
	</address>

	{% if bio %}  
	<div class="member-bio">
		{{ bio | md | safe }}
	</div>
  {% endif %}
</article>

{% if portfolios.length %}	
<div class="portfolios-grid wrapper">
	{% for portfolio in portfolios %}
	{% include "templates/portfolio-list.njk" %}
	{% endfor %}
</div>
{% endif %}
