---
layout: layouts/base.vto
---

<article>
  <figure>
    <img src="{{ avatar }}" width="128" height="128" alt="">
  </figure>

  <header>
    <h1>{{ name }}</h1>
    <p>{{ job }}</p>
  </header>

  <address>
    {{ contact |> md }}

    {{ if links }}
      <ul>
        {{ for link of links }}
          <li>
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {{ /for }}
      </ul>
    {{ /if }}
  </address>

  {{ if bio }}
    <div>
      {{ bio |> md }}
    </div>
  {{ /if }}
</article>

{{ if portfolios?.length }}
  <aside>
    {{ for portfolio of portfolios }}
      {{ include "templates/portfolio-list.vto" { portfolio } }}
    {{ /for }}
  </aside>
{{ /if }}
