---
layout: layouts/base.vto
---

{{ set backPage = search.page(`id=members lang=${lang}`) }}
<a class="back" href="{{ backPage.url }}">
  <img src="{{ 'arrow/arrow_left_line' |> icon("mingcute") }}">
  <span>{{ backPage.title }}</span>
</a>

<header class="header">
  <h1 class="header-title">{{ name }}</h1>
  <p class="header-subtitle">{{ job }}</p>

  <div class="ly-tags">
    {{ if tags?.length }}
      <ul class="ly-tags">
        {{ for tag of tags }}
          <li class="filter">{{ tag }}</li>
        {{ /for }}
      </ul>
    {{ /if }}

    {{ if links?.length }}
      <ul class="ly-tags">
        {{ for link of links }}
          <li>
            <a class="link" href="{{ link.url }}">
              {{ if link.type === "link" }}
                {{ link.text }}
              {{ else if link.type === "linkedin" }}
                LinkedIn
              {{ else }}
                <img
                  width="16"
                  height="16"
                  src='{{ link.type |> icon("simpleicons") }}'
                  alt="{{ link.type }}"
                  inline
                >
              {{ /if }}
            </a>
          </li>
        {{ /for }}
      </ul>
    {{ /if }}
  </div>

  <img
    class="header-img is-floating member-avatar"
    style="--shadow-color: {{ avatar_color || 'black' }}"
    src="{{ avatar }}"
    width="200"
    alt="Avatar"
  >

  {{ if contact }}
    <address class="member-address">
      {{ contact |> md }}
    </address>
  {{ /if }}

  {{ if bio }}
    <div class="header-description">
      {{ bio |> md }}
    </div>
  {{ /if }}
</header>

{{ if portfolios?.length }}
  <aside class="ly-lateral top-6xl">
    <header class="ly-lateral-side subheader">
      <h2 class="subheader-title">{{ t.members.projects }}</h2>
    </header>

    <ul class="ly-lateral-content portfolio-list ly-columns">
      {{ for portfolio of portfolios }}
        <li>
          {{ include "templates/portfolio-list.vto" { portfolio } }}
        </li>
      {{ /for }}
    </ul>
  </aside>
{{ /if }}
