---
layout: layouts/base.vto
---

<header class="header">
  <img
    class="header-img is-floating member-avatar"
    style="--shadow-color: {{ avatar_color || 'black' }}"
    src="{{ avatar }}"
    width="200"
    alt="Avatar"
  >

  <h1 class="header-title">{{ name }}</h1>

  <div class="header-description">
    <p>{{ job }}</p>
  </div>

  <ul class="ly-tags">
    {{ for tag of tags }}
      <li class="filter">{{ tag }}</li>
    {{ /for }}

    {{ for link of links }}
      <li>
        <a class="link" href="{{ link.url }}">
          {{ if link.type === "link" }}
            {{ link.text }}
          {{ else if link.type === "linkedin" }}
            LinkedIn
          {{ else }}
            <img
              width="16"
              height="16"
              src='{{ link.type |> icon("simpleicons") }}'
              alt="{{ link.type }}"
              inline
            >
          {{ /if }}
        </a>
      </li>
    {{ /for }}
  </ul>

  {{ if contact }}
    <address class="member-address">
      {{ contact |> md }}
    </address>
  {{ /if }}

  {{ if bio }}
    <div class="header-description">
      {{ bio |> md }}
    </div>
  {{ /if }}
</header>

{{ if portfolios?.length }}
  <aside class="ly-lateral">
    <header class="ly-lateral-side subheader">
      <h2 class="subheader-title">{{ t.members.projects }}</h2>
    </header>

    <div class="ly-lateral-content">
      {{ for portfolio of portfolios }}
        {{ include "templates/portfolio-list.vto" { portfolio } }}
      {{ /for }}
    </div>
  </aside>
{{ /if }}
