---
layout: layouts/base.vto
---
<article class="new new-permalink">
  <header class="new-header wrapper-narrow">
    <nav>
      {{ for tag of tags }}
        <a href="/tags/{{ tag }}">{{ tag }}</a>
      {{ /for }}
    </nav>

    <time datetime='{{ date |> date("DATETIME") }}'>{{
      date
      |> date("HUMAN_DATE")
    }}</time>

    <h1>{{ title }}</h1>
  </header>

  <div class="new-intro wrapper-narrow">
    {{ intro |> md }}
  </div>

  <div class="new-body">
    {{ for block of body }}
      {{ include "blocks/" + block.type + ".vto" { block } }}
    {{ /for }}
  </div>
</article>
