---
layout: layouts/base.vto
---

{{ set backPage = search.page(`id=news-1 lang=${lang}`) }}
<a class="back" href="{{ backPage.url }}">
  <img src="{{ 'arrow/arrow_left_line' |> icon("mingcute") }}">
  <span>{{ backPage.title }}</span>
</a>

<header class="header">
  <time class="header-time" datetime='{{ date |> date("DATETIME") }}'>
    {{ date |> date("HUMAN_DATE") }}
  </time>

  <h1 class="header-title">{{ title }}</h1>

  <div class="header-description is-big">
    {{ intro |> md }}
  </div>

  <nav class="ly-tags header-filter">
    {{ for tag of tags }}
      <a class="filter" href="/tags/{{ tag }}">{{ tag }}</a>
    {{ /for }}
  </nav>
</header>

<div class="blocks top-2xl">
  {{ for block of body }}
    {{ await comp[block.type](block) }}
  {{ /for }}
</div>
