---
layout: layouts/base.njk
---
{{ foo }}
<div class="wrapper">
	<nav class="buttons-tabs">
    {% set p = search.page("id=news lang=" + lang) %}
		<a class="button is-selected" href="{{ p.url }}">{{ t.news.news }}</a>
    {% set p = search.page("id=articles lang=" + lang) %}
		<a class="button" href="{{ p.url }}">{{ t.news.articles }}</a>
	</nav>

	<ul class="buttons-tags page-content-bar">
		<li {% if not tag %} class="is-selected"{% endif %}>
      {% set p = search.page("id=news lang=" + lang) %}
			<a href="{{ p.url }}">{{ t.news.all_tags }}</a>
		</li>

		{% for page in search.pages("type=news_tag lang=" + lang) %}
		<li {% if page.url == url %} class="is-selected"{% endif %}>
			<a href="{{ page.url }}">{{ page.tag }}</a>
		</li>
    {% endfor %}
	</ul>

	<div class="ui-autoload-container">
    {% if tag %}
    {% set news = search.pages("type=news lang=" + lang + " '" + tag + "'", "date=desc") %}
    {% else %}
    {% set news = search.pages("type=news lang=" + lang, "date=desc") %}
    {% endif %}

    {% for page in news %}
    <article class="new new-list">
      <header class="new-header">
        <nav>
          {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </nav>

        <time datetime="{{ page.date | date("DATETIME") }}">{{ page.date | date("HUMAN_DATE") }}</time>

        <h1>
          <a href="{{ page.url }}">
            {{ page.title }}
          </a>
        </h1>
      </header>
    </article>
    {% endfor %}
	</div>
</div>