---
layout: ./base.vto
---

<header class="header">
  <h1 class="header-title">{{ title }}</h1>

  <div class="header-subtitle">{{ description |> md }}</div>

  <div class="header-filter ly-tags">
    {{ for tag of search.values("tags", "type=portfolio lang=" + lang).sort() }}
      {{
        set urlTag = lang ===
            "gl"
          ? `/portfolio/${tag}/`
          : `/es/portfolio/${tag}/`
        |> slugify
      }}
      <a
        class='filter {{ tag === currentTag ? "is-selected" : ""}}'
        href="{{ urlTag }}"
      >{{ tag }}
      </a>
    {{ /for }}
  </div>
</header>

<div class="ly-columns portfolio-list top-xl-2xl">
  {{ for portfolio of results }}
    {{ include "templates/portfolio-list.vto" { portfolio } }}
  {{ /for }}
</div>

{{ include "templates/pagination.vto" }}
