---
layout: ./base.vto
---
{{ set portfolios = search.pages("type=portfolio lang=" + lang, "name=asc") }}

{{ for portfolio of portfolios }}
  {{ include "templates/portfolio-list.vto" { portfolio } }}
{{ /for }}
