---
layout: ./base.vto
---
{{ set allProjects = search.pages("type=project lang=" + lang) }}

{{ for year, projects of allProjects |> Object.groupBy(({ year }) => year) }}
  <section>
    <h2>{{ year }}</h2>

    {{ for project of projects }}
      {{ include "templates/project-list.vto" { project } }}
    {{ /for }}
  </section>
{{ /for }}
