---
layout: ./base.njk
---

<div class="wrapper">
  {% for year, projects in search.pages("type=project lang=" + lang) | groupby("year") %}
    <section class="ly-group">
      <h1>{{ year }}</h1>

      <div>
        {% for project in projects %}
          <article class="project project-list">
            <a href="{{ project.external_url }}">
              <figure class="project-image">
                <img width="420" height="200" src="{{ project.cover }}">
              </figure>

              <header class="project-header">
                <h1>
                  {{ project.title }}
                </h1>
              </header>
            </a>
          </article>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
</div>