---
layout: null

titulo: Feed **2015**

subtitulo: |
  20 e 21 de novembro - A Coruña  
  Foro de deseño

intro: |
      Cada certo tempo xorde unha nova palabra que ten de súpeto unha inusual presenza nos diversos canais de comunicación do sector. En pouco tempo, artigos, novas e conversas vense inzados por ese sintagma/ idea que verbaliza unha nova teoría/movemento/ tecnoloxía. Unha vez pasado o hype, a gran maioría destes neoloxismos caen coa mesma velocidade coa que apareceron, froito da súa propia vacuidade.

      No FEED 2015 queremos analizar os conceptos do noso tempo. Da man de profesionais e estudosos do deseño, veremos se disciplinas como o motion graphics, o deseño de interacción ou o infografismo seguen a ser variantes de campos maiores (gráfico, web...) ou se acadaron unha linguaxe conceptual e formal propia. Analizaremos se o design thinking é unha burbulla máis ou se realmente o deseño pode –e debe– ser axente en niveis organizacionais e estratéxicos nas empresas e institucións. Estudaremos que hai detrás de conceptos coma o deseño aberto, o deseño colaborativo ou o metadeseño. Apoiarémonos na análise da evolución do deseño e da tecnoloxía para intuír ata que punto o Processing ou a fabricación dixital provocarán unha reformulación da estética das imaxes e dos obxectos.

      Trataremos, en definitiva, de anticipar que neoloxismos desaparecerán nuns poucos anos e cales ficarán con nós para sempre.

# LISTA DE TODOS OS PARTICIPANTES
participantes:
  - nome: Massimo Menichinelli
    titulo: Massimo Menichinelli
    id: massimo-menichinelli
    boton:
      text: Entrevista
      url: /gl/entrevista-a-massimo-menichinelli/
    actos:
      - titulo: 'Taller: *Deseñar un Fab Lab ou outro laboratorio para unha comunidade, empezando polos usuarios e acabando co modelo de negocio*'
        info: |
          20 de novembro  
          09:15 - 13:30 Fundación Luís Seoane
          
      - titulo: 'Charla: *Deseño aberto para comunidades: procesos, organizacións, redes*'
        info: |
          20 de novembro  
          20:00 - 21:00 Auditorio Expo Coruña

    bio: |
      [www.openp2pdesign.org](http://www.openp2pdesign.org/)  
      
      Massimo Menichinelli é un deseñador que investiga e desenvolve proxectos abertos, colaborativos e de codeseño, e sistemas que os fagan posibles desde 2005. Utiliza as ferramentas e procesos do deseño co fin de axudar as empresas, organizacións, cidades e comunidades locais a desenvolver procesos, negocios, servizos, lugares e proxectos abertos e colaborativos como Open Design e FabLab. Massimo impartiu conferencias e obradoiros en diversos países, entre eles, Italia, España, Finlandia, Alemaña, O Reino Unido, México, Colombia, Corea do Sur e Singapur.  
      
      Tamén traballou no desenvolvemento da Aalto Fab Lab e coorganizou o primeiro Open Knowledge Festival en Helsinqui. Deu clases sobre fabricación dixital e deseño de portas abertas na Universidade Aalto (Helsinqui, Finlandia) e Open Design en SUPSI (Lugano, Suíza) e foi instrutor da Fab Academy nos Fab Labs Opendot e WeMake en Milán.

      Recentemente traballou tamén no desenvolvemento do MUSE FabLab (Trento e Milán, Italia), ademais de no asesoramento a moitos outros laboratorios. Dirixiu a Fundación Make in Italy CDB, onde investigou e facilitou os Fab Labs e Makers de Italia.
      
  
  - nome: Pepe Barro
    id: pepe-barro
    boton:
      text: Entrevista
      url: /gl/entrevista-a-pepe-barro/
    actos:
      - titulo: 'Charla: *Tres pés para un tríscele. A identidade básica da empresa Zeltia*'
        info: |
          20 de novembro  
          16:30 - 17:30 Auditorio Expo Coruña
      
    bio: |
      [www.gruporevision.net](http://www.gruporevision.net)
      
      Pepe Barro (Pontedeume, 1955) é un deseñador gráfico ao que lle gusta tocar todos os xéneros e mesmo mesturar uns cos outros. En case corenta anos de actividade profesional, o conxunto do seu traballo pódese entender como unha lectura da Galicia que quere renovar os seus sinais de identidade, incorporando as linguaxes do deseño internacional. Como profesional independente, asociado en Grupo Revisión ou desde Barro Deseño, realiza algúns dos seus traballos máis coñecidos como o semanario A Nosa Terra, a identidade gráfica da Universidade da Coruña, os primeiros “cuponazos” da Once, a camiseta da Selección Galega de Fútbol, a web da Real Academia Galega ou o proxecto museolóxico e museográfico da Casa de Rosalía.
      
      Entre as moitas exposicións que mostraron o seu traballo, séntese especialmente satisfeito das sete nas que se puido ver a caixa de ovos do Pazo de Vilane. Na rede pódese acceder de balde ao seu libro O como é o que conta (2014), trinta artigos sobre o deseño, a cultura e a imaxe da cultura
  
  - nome: Miguel Sabel
    id: miguel-sabel
    boton:
      text: Entrevista
      url: /gl/entrevista-a-miguel-sabel/
    actos:
      - titulo: 'Charla: *Deseño e negocio hoxe*'
        info: |
          20 de novembro  
          17:30 - 18:30 Auditorio Expo Coruña
    bio: |
      [www.miguelsabel.me](http://www.miguelsabel.me)
      
      Formado como deseñador de produto na EUDI e na Elisava, nunca exerceu como tal. Desde que comezou a traballar, sempre buscou a interacción entre a empresa e o deseño. Primeiro, desde a xestión do deseño, explorando marcos de xestión adaptados á incerteza propia da disciplina. Agora, empregando o deseño como proceso e caixa de ferramentas coa que afrontar retos propios do negocio, ata non hai moito alleos aos deseñadores.

        Pasou por Hiroshi Tsunoda Design Studio / DesignCode, un pequeno estudio e editora de deseño de Barcelona. Despois pola oficina madrileña de PERA Group, unha empresa de innovación tecnolóxica. Agora traballa en Designit, consultora de deseño estratéxico onde leva xa preto de cinco anos. En Designit lidera e participa en proxectos de deseño de servizos e innovación en modelos de negocio: desde a creación de novas experiencias para o retail ata o deseño de novos servizos no mundo do diñeiro. Sempre desde o deseño centrado nas persoas.

  - nome: Óscar Otero
    id: oscar-otero
    boton:
      text: Entrevista
      url: /gl/entrevista-a-oscar-otero/
    actos:
      - titulo: 'Charla: *Os tres pés do deseño web*'
        info: |
          20 de novembro  
          19:00 - 20:00 Auditorio Expo Coruña

    bio: |
      [www.oscarotero.com](http://www.oscarotero.com/)
      
      Óscar Otero é un deseñador con máis de doce anos de experiencia traballando no campo da web. A nivel experimental ten realizado numerosos proxectos como a web tipográfica [letrag.com](http://letrag.com). É un dos socios fundadores da empresa A navalla suíza, traballando en numerosos proxectos web de vídeo, redes sociais, xornais, etc, e gañando varios premios, como o Mestre Mateo 2008 por flocos.tv ou MIPTV Digital Creativity Festival «Content 360o» de Cannes na categoría «Next generation online video experience» polo proxecto Augmented Films en 2010.

      Deu cursos e conferencias sobre deseño, desenvolvemento web e *open video* en varios lugares de Galicia, Madrid, Sevilla, Bélxica, Istambul, etc, e escribiu sobre deseño e tipografía en numerosas revistas especializadas.

      O seu labor de deseñador é compatible coa de desenvolvedor, o que lle permite ter unha visión máis global e xenérica, non só de como debe ser unha interface, senón de como debe funcionar. Pódense visitar moitos dos seus proxectos de código aberto dende o seu perfil de [github](http://github.com/oscarotero/).

  - nome: Javier Cañada
    id: javier-canhada
    boton:
      text: Entrevista
      url: /gl/entrevista-a-javier-canada/
    actos:
      - titulo: 'Taller: *Deseño e narrativas para Big Data*'
        info: |
          21 de novembro  
          09:15 - 13:30 Fundación Luís Seoane
      - titulo: 'Charla: *A enxeñaría da beleza*'
        info: |
          21 de novembro  
          19:30 - 20:30 Auditorio Expo Coruña

    bio: |
      [www.terremoto.net](http://www.terremoto.net/)
      [www.vostokstudio.com](http://www.vostokstudio.com/)
      
      Javier Cañada leva practicando o deseño de interacción de forma exclusiva desde 2000.
      Formou parte do primeiro equipo de HCI de España (IconMedialab). Tras o seu paso por The Cocktail, Indra u 11870.com, funda Vostok Studio, desde onde axuda a corporacións e startups (Filmin, Minube, Ducksboard, BBVA, Movistar, Chicisimo) na súa estratexia de deseño e experiencia dixital.

      Firme convencido de que o mellor deseño está na historia (do deseño, da arquitectura ou das ideas), Cañada dedicou parte da súa carreira a formar os mellores profesionais da interacción de España a través do programa Vostok, un curso de deseño que imparte para un grupo reducido de alumnos. Nel busca, de forma case obsesiva, o bo deseño a través da beleza, a utilidade e a estrutura.

      Na actualidade, Cañada colabora de forma independente con empresas de presenza global na súa estratexia de deseño, definindo sistemas e experiencias para todos os seus canais dixitais, traballando sempre para os equipos de estratexia e negocio.

  - nome: Marta Verde
    id: marta-verde
    boton:
      text: Entrevista
      url: /gl/entrevista-a-marta-verde/
    actos:
      - titulo: 'Charla: *Converxencia de disciplinas creativas mediante tecnoloxía*'
        info: |
          21 de novembro  
          16:00 - 17:00 Auditorio Expo Coruña
    bio: |
      [www.martaverde.net](http://www.martaverde.net)
      
      Pontevedra. 1985. Licenciada en Belas Artes pola Universidade de Vigo, Máster en Deseño da Interacción e Posgrao en Tecnoloxías Dixitais para a Escena pola Universidade Pompeu Fabra.

      Desenvolve a súa actividade profesional como programadora de interactivos e técnica para directo en diversos proxectos escénicos/musicais, en Galicia (Projecto Trepia, Licenciada Sotelo), Cataluña (Mucab Dans), Madrid (Daniel Van Lion, Julián Elvira) ou Portugal(A Charanga), creando contido interactivo e audiovisual.

      Foi parte de do/the/right/clickTM (co que obtivo un Laus Bronce e unha mención nos Webby Awards), colabora con Tecné Collective e Lighting Design Collective como programadora junior, desenvolvendo solucións interactivas baseadas na luz para arquitectura ou instalacións artísticas, ademais de colaborar con axencias, outros artistas, estudios, deseñadores, festivais e feiras (Visual Art Week Mexico 2015, Mini Madrid Maker Faire...) sempre buscando a converxencia entre tecnoloxía e creatividade.

      Ademais da súa faceta de programadora creativa, tamén é docente de Interacción e Tecnoloxía en institucións como a Fundación Telefónica ou IED Madrid, onde ademais é asesora do departamento de I+D+I, e tamén mentora de Hackatóns con Ciclo.io.




  - nome: Álvaro Valiño
    id: alvaro-valino
    boton:
      text: Entrevista
      url: /gl/entrevista-a-alvaro-valino/
    actos:
      - titulo: 'Charla: *Infografía, ferramenta de coñecemento*'
        info: |
          21 de novembro  
          17:00 - 18:00 Auditorio Expo Coruña
      
    bio: |
      [www.alvarovalino.com](http://www.alvarovalino.com/)
      
      Álvaro Valiño, nado na Coruña, é Master en Deseño Gráfico polo London College of Communication. Traballa como infografista e ilustrador freelance desde Washington DC e ten colaborado co National Geographic Magazine, Smithsonian Magazine, Corriere della Sera, Courrier International, e a revista Mongolia, entre outros. Foi xefe de infografía no finado diario Público e comezou a súa actividade profesional na sección de gráficos de La Voz de Galicia.
      
      O seu traballo foi recoñecido pola Society of News Design en once ocasións e obtivo 28 premios Malofiej, o galardón máis reputado na infografía xornalística

      Impartiu seminarios de gráficos informativos en Madrid, Nova Deli e Kuala Lumpur. O seu traballo foi publicado nos volumes Information Graphics de Taschen e Visual Storytelling de Gestalten.

  - nome: Raquel Pelta
    id: raquel-pelta
    boton:
      text: Entrevista
      url: /gl/entrevista-a-raquel-pelta/
    actos:
      - titulo: 'Charla: *Deseño social. Cando deseñar se converte nunha acción colectiva*'
        info: |
          21 de novembro  
          18:30 - 19:30 Auditorio Expo Coruña
      
    bio: |
      [www.monografica.org](http://www.monografica.org)
      
      Historiadora do deseño, doutora pola Universidade de Barcelona, licenciada en Xeografía e Historia, en Comunicación Audiovisual, en Publicidade e Relacións Públicas. Desde marzo de 2006 é profesora da facultade de Belas Artes da Universidade de Barcelona e membro do grupo de investigación consolidado GRACMON.

      Exerceu a docencia na Universidade Rei Xoán Carlos, na escola Elisava, a Universidade de Valladolid e no Instituto Europeo de Deseño de Madrid –onde foi directora académica da escola de másteres–, entre outros centros.

      É directora da revista online Monográfica (Premio Cidade de Barcelona 2012) e entre 2001 e 2004, dirixiu a revista Visual. É fundadora e directora do Congreso Internacional de Tipografía que se celebra en Valencia desde 2004.

      Comisariou exposicións, organizou cursos e impartiu conferencias nun bo número de centros e institucións. É autora de numerosas publicacións sobre deseño, entre as que pode destacarse o libro Diseñar Hoy, editado por Paidós.

      En 2011, recibiu o Premio Gràffica e en 2015 foi galardoada co Laus de Honor, outorgado por ADG-FAD, en recoñecemento a «unha traxectoria dedicada á historia do deseño español e á súa capacidade para impulsar proxectos ao redor do deseño».
      
# PROGRAMA
programa:
  - dia: Venres, 20 de novembro
    campo: |
      Massimo Menichinelli 
      Pepe Barro 
      Miguel Sabel 
      Óscar Otero
    horas:
      - hora: 09:00 - 09:15 
        texto: Acreditación para o seminario
        
      - hora: 09:15 - 11:45
        texto: |
          **Taller de Massimo Menichinelli:**
          Deseñar un FabLab ou outro laboratorio para unha comunidade, empezando polos usuarios e acabando co modelo de negocio.
          
      - hora: 11:45 - 12:00
        texto: Descanso
        
      - hora: 12:00 - 13:30 
        texto: Taller de Massimo Menichinelli (2a parte)
        
      - hora: 15:30 - 16:00
        texto: Acreditación
        
      - hora: 16:00 - 16:30
        texto: |
          Presentación e benvida
        
      - hora: 16:30 - 17:30
        texto: |
          **Charla de Pepe Barro:**  
          Tres pés para un tríscele. A identidade básica da empresa Zeltia.
        
      - hora: 17:30 - 18:30
        texto: |
          **Charla de Miguel Sabel:**  
          Deseño e negocio hoxe.
        
      - hora: 18:30 - 19:00
        texto: Descanso
        
      - hora: 19:00 - 20:00
        texto: |
          **Charla de Óscar Otero:**  
          Os tres pés do deseño web.
          
      - hora: 20:00 - 21:00
        texto: |
          **Charla de Massimo Menichinelli:**  
          Deseño aberto para comunidades: procesos, organizacións, redes.

  - dia: Sábado, 21 de novembro
    campo: |
        Javier Cañada 
        Marta Verde 
        Álvaro Valiño 
        Raquel Pelta
    horas:
      - hora: 09:00 - 09:15 
        texto: Acreditación para o seminario
        
      - hora: 09:15 - 11:45
        texto: |
          **Taller de Javier Cañada:**  
          Deseño e narrativas para Big Data.
          
      - hora: 11:45 - 12:00
        texto: Descanso
        
      - hora: 12:00 - 13:30 
        texto: Taller de Javier Cañada (2a parte)
        
      - hora: 15:30 - 16:00
        texto: Acreditación
        
      - hora: 16:00 - 17:00
        texto: |
          **Charla de Álvaro Valiño (videoconferencia):**  
          Infografía, ferramenta de coñecemento..
        
      - hora: 17:00 - 18:00
        texto: |
          **Charla de Marta Verde:**  
          Converxencia de disciplinas creativas mediante tecnoloxía.
        
      - hora: 18:00 - 18:30
        texto: Descanso
        
      - hora: 18:30 - 19:30
        texto: |
          **Charla de Raquel Pelta:**  
          Deseño social. Cando deseñar se converte nunha acción colectiva.
     
      - hora: 19:30 - 20:30
        texto: |
          **Charla de Javier Cañada:**  
          A enxeñaría da beleza. 
          
      - hora: 20:30
        texto: Peche das xornadas
        

logos:
  - titulo: Organiza
    items:
      - titulo: 'DAG, Asociación galega de deseñadores'
        url: 'http://dag.gal'
        logo: 'logo-dag.svg'
  
  - titulo: Patrocina
    items:
      - titulo: 'AGADIC, Axencia galega das industrias culturais'
        url: http://www.agadic.info/
        logo: logo-agadic.svg
      
      - titulo: Xunta de Galicia
        url: http://www.xunta.es
        logo: logo-xunta.svg
       
      - titulo: Concello da Coruña
        url: http://www.coruna.es
        logo: logo-concello.svg
      
      - titulo: Fundación Luís Seoane
        url: http://www.fundacionluisseoane.gal
        logo: logo-fundacion.svg
      
      - titulo: CIDEA
        url: http://www.cidea.gal/
        logo: logo-cidea.svg
   
  - titulo: Colabora
    items:
      - titulo: Fedrigoni
        url: http://www.fedrigoni.es
        logo: logo-fedrigoni.svg
      
      - titulo: Agencia Gráfica Gallega, s.l.
        url: http://www.agenciagrafica.es/
        logo: logo-agencia.svg
      
      - titulo: Legatoria, encuadernación
        url: http://www.legatoria.es
        logo: logo-legatoria.svg
      
      - titulo: Axeitos & Co. Rotulación e impresión
        url: http://www.paginasamarillas.es/f/o-milladoiro/axeitos-co_219473832_000000001.html
        logo: logo-axeitos.svg


_entradas:
  titulo: Entradas
  head:
    - Normal
    - Reducido *
    - Socios
  body:
    - titulo: Charlas (1 día)
      prezos:
        - prezo: 16€
          tipo: 1

        - prezo: 11€
          tipo: 2

        - prezo: De balde
          tipo: 0
    
    - titulo: Charlas (2 días)
      prezos:
        - prezo: 26€
          tipo: 3
          
        - prezo: 16€
          tipo: 4
          
        - prezo: De balde
          tipo: 0
    
    - titulo: Taller e charlas (1 día)
      prezos:
        - prezo: 32€
          tipo: 5
          
        - prezo: 21€
          tipo: 6
          
        - prezo: 10€
          tipo: 7
        
    - titulo: Taller e charlas (2 días)
      prezos:
        - prezo: 57€ esgotadas
          tipo: 8
          
        - prezo: 42€ esgotadas
          tipo: 9
          
        - prezo: 20€ esgotadas
          tipo: 10

  footer: |
    (*) O prezo reducido aplícase a estudantes de ciclos superiores, graos ou másteres de Deseño, deseñadores desempregados, socios de Creatividade Galega, Markea (Asociación Galega de Marketing), AGPI (Asociación Galega de Profesionais da Ilustración), Clúster da Comunicación Gráfica, ou de asociacións de deseño pertencentes a READ (Red Española de Asociaciones de Diseño). Á entrada do evento esixirase a xustificación da condición de estudante (xustificante de matrícula) ou de deseñador en paro (xustificante do INEM). Os socios de asociacións que poden beneficiarse dun prezo reducido deberán enviar un correo a [info@asociaciondag.org](mailto:info@asociaciondag.org) indicando os seus datos persoais (nome completo) e nome da asociación da que forman parte.

medios:
  - titulo: O FEED 2015 analizará na Coruña as novas disciplinas do deseño na súa dobre vertente industrial e cultural
    url: https://www.xunta.gal/hemeroteca/-/nova/047034/feed-2015-analizara-coruna-novas-disciplinas-deseno-sua-dobre-vertente-industrial
    medio: Xunta de Galicia
  - titulo: O deseño galego reúnese no FEED 
    url: http://culturagalega.gal/noticia.php?id=25814
    medio: Cultura galega
  - titulo: A Coruña acogerá un foro de Edición y Diseño en noviembre
    url: http://www.laopinioncoruna.es/coruna/2015/10/26/coruna-acogera-dias-20-21/1007802.html
    medio: La Opinión A Coruña
  - titulo: El FEED 2015 tendrá lugar en A Coruña
    url: http://www.briefinggalego.com/el-feed-2015-tendra-lugar-en-a-coruna
    medio: Briefing galego
  - titulo: Foro de Deseño FEED 2015
    url: https://agpi.es/foro-de-deseno-feed-2015/
    medio: Agadic
  - titulo: O foro FEED 2015 analizará na Coruña as novas disciplinas do deseño na vertente industrial e cultural
    url: http://www.cultura.gal/gl/nova/17632
    medio: Cultura.gal
  - titulo: Foro de Deseño FEED 2015
    url: https://agpi.es/foro-de-deseno-feed-2015/
    medio: AGPI
  - titulo: A Asociación de Deseñadores Galegos celebra o FEED 2015
    url: http://asociaciongalegademarketing.com/asociacion-desenadores-galegos-celebra-feed-2015/
    medio: Markea
  - titulo: FEED 2015 | Foro de Deseño en Galiza
    url: http://croamagazine.es/feed-2015-foro-de-deseno-en-galiza/
    medio: CROA magazine
  - titulo: FEED 2015, Foro de Diseño en A Coruña
    url: http://www.designread.es/feed-2015-foro-de-diseno-en-a-coruna/
    medio: READ
  - titulo: El FEED 2015 analizará las nuevas disciplinas del diseño en su doble vertiente industrial y cultural
    url: http://clustermadeira.com/el-feed-2015-analizara-las-nuevas-disciplinas-del-diseno-en-su-doble-vertiente-industrial-y-cultural/
    medio: Clúster da madeira
  - titulo: FEED 2015, diseccionando neologismos de diseño
    url: http://graffica.info/feed-2015/
    medio: Gráffica
  - titulo: ExpoCoruña acolle o foro bianual da Asociación Gallega de Diseñadores
    url: http://clusterturismogalicia.com/expocoruna-acolle-o-foro-bianual-da-asociacion-gallega-de-disenadores/
    medio: Clúster Turismo de Galicia
---

<!doctype html>

<html class="no-js" lang="gl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FEED 2015</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="DAG - Asociación Galega de Deseñadores">

        <link rel="stylesheet" href="/feed-2015/styles.css">
    </head>

    <body>
        <!-- HEADER -->
        <nav class="page-header wrapper" id="main-header">
            <a href="/" class="page-logo" title="Asociación Galega de Deseñadores">
                <img src="/img/icons/dag.svg" alt="Asociación Galega de Deseño" inline>
            </a>

            <div class="share">
                <a class="share-twitter ico-twitter" href="<?= $share->twitter->shareUrl ?>" target="_blank">
                <?php $this->insert('common/ico-twitter'); ?> <span>Twitter</span>
              </a>
              <a class="share-facebook ico-facebook" href="<?= $share->facebook->shareUrl ?>" target="_blank">
                <?php $this->insert('common/ico-facebook'); ?> <span>Facebook</span>
              </a>
            </div>
        </nav>
        <!-- /HEADER -->

          <article class="project">
            <div class="project-head">
              <header class="project-header">
                <h1>{{ titulo | md(true) | safe }}</h1>
                <div class="project-subtitle">{{ subtitulo | md | safe }}</div>
              </header>

              <nav class="menu-participantes">
                <ul>
                  {% for item in participantes %}
                  <li><a href="#{{ item.id }}">{{ item.nome }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
            </div>

            <div class="project-intro">
              <div class="wrapper">
                {{ intro | md | safe }}
              </div>
            </div>

            <section class="project-invitados wrapper" id="participantes">
              {% for item in participantes %}
              <article class="invitado" id="{{ item.id }}">
                <div>
                  <h1>
                    {{ item.titulo or item.nome }}

                    {% if item.boton %}	
                    <a href="{{ item.boton.url }}" class="button-secondary">
                      {{ item.boton.text }}
                    </a>
                    {% endif %}
                  </h1>

                  <div class="invitado-bio">
                    {{ item.bio | md | safe }}
                  </div>

                  <ul class="invitado-actos">
                    {% for acto in item.actos %}
                    <li>
                      <h2>{{ acto.titulo | md(true) | safe }}</h2>
                      {{ acto.info | md | safe }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </article>
              {% endfor %}
            </section>

            <section class="project-calendario wrapper" id="programa">
              <h1>Programa</h1>

              <div class="calendario-dias">
                {% for dia in programa %}
                <div class="calendario-dia">
                  <h2>{{ dia.dia }}</h2>
                  <p>{{ dia.campo }}</p>

                  <ul>
                    {% for hora in dia.horas %}
                    <li>
                      <strong class="hora">{{ hora.hora }}</strong>
                      <div>
                        {{ hora.texto | md | safe }}
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
              </div>
            </section>

            {% if entradas %}
            <section class="project-entradas wrapper">
              <h1>{{ entradas.titulo }}</h1>

              <table>
                <thead>
                  <tr>
                    <th></th>
                    {% for head in entradas.head %}
                    <th>{{ head }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in entradas.body %}
                  <tr>
                    <th>{{ row.titulo }}</th>

                    {% for prezo in row.prezos %}
                    <td>
                      <strong>{{ prezo.prezo }}</strong><br>
                      <small>TIPO {{ prezo.tipo }}</small>
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% if entradas.footer %}
              <footer>
                {{ entradas.footer | md | safe }}
              </footer>
              {% endif %}
            </section>
            {% endif %}

            <!--
            <section class="project-onde" id="onde">
              <iframe id="onde-gmap" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d27600.203634707093!2d-8.417765578846987!3d43.35372517593172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0xd2e7b818682ad83%3A0xe0d03a8890573d6!2sFundaci%C3%B3n+Luis+Seoane%2C+R%C3%BAa+San+Francisco%2C+27%2C+15001+A+Coru%C3%B1a!3m2!1d43.3686941!2d-8.3894294!4m5!1s0xd2e7cba5bb3107b%3A0x93831a251a29aaeb!2sEXPOCoru%C3%B1a%2C+Juana+Capdevielle+2%2C+15008+A+Coru%C3%B1a!3m2!1d43.3399297!2d-8.410908!5e0!3m2!1ses!2ses!4v1446069711907" width="640" height="480"></iframe>
            </section>
            -->

            {% if medios %}
              <aside class="project-news-external wrapper">
                <ul>
                  {% for link in medios %}
                  <li>
                      <h3>
                        <a href="{{ link.url }}">
                          {{ link.titulo }}
                        </a>
                      </h3>
                      <small>{{ link.medio }}</small>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </aside>
            {% endif %}

            <aside class="project-social-highlight">
              <div>
                <a data-flickr-embed='true' href='https://www.flickr.com/photos/asociaciondag/sets/72157662978309333' title='FEED 2015 by Asociación DAG, on Flickr'><img src='https://live.staticflickr.com/1688/24784186953_d0a5b6edd4_b.jpg' width='800' height='600' alt='_DSC4235'></a><script async src='https://embedr.flickr.com/assets/client-code.js' charset='utf-8'></script>
              </div>
            </aside>

            <section class="project-colaboradores wrapper" id="colaboradores">
              {% for grupo in logos %}
              <div>
                <h2>{{ grupo.titulo }}:</h2>

                <ul>
                  {% for logo in grupo.items %}
                  <li>
                    <a href="{{ logo.url }}" title="{{ logo.titulo }}">
                      <img src="/feed-2015/img/{{ logo.logo }}" alt="{{ logo.titulo }}">
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </section>
          </article>

          <script>
            (function () {
              var container = document.getElementById('onde');
              var mapa = document.getElementById('onde-gmap');
              
              container.addEventListener('click', function () {
                mapa.style.pointerEvents = 'auto';
              });

              mapa.style.pointerEvents = 'none';
            })();
          </script>

        {% include "templates/scripts.njk" %}
    </body>
</html>
